Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Exclude dependencies that are also declared optional
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Do not repeat a package name in the damaged-dependencies message
  rakelib/release.rake
Due: none

Require package.json to parse to a JSON object
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Check the installed node_modules tree, not just yarn's record of it (#1288)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover the UTF-8 changelog read in extract_latest_changelog_version
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Read CHANGELOG.md as UTF-8 in the release task (#1289)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Decode gh output as UTF-8 in the release task
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bump the root package.json on the dry-run release path
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Stop a truncated spec run from reporting as a passing suite
  spec/rakelib/release_spec.rb
  spec/spec_helper.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Close a before(:suite) hole and stop the probe pre-empting real aborts
  spec/rakelib/release_spec.rb
  spec/spec_helper.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Require json explicitly and drop a redundant rescue class
  spec/rakelib/release_spec.rb
  spec/spec_helper.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover the truncation guards with specs of their own
  spec/rakelib/spec_helper_truncation_guard_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Stop an after(:context) exit from discarding recorded failures
  spec/rakelib/release_spec.rb
  spec/rakelib/spec_helper_truncation_guard_spec.rb
  spec/spec_helper.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Stop a truncated spec run from reporting as a passing suite (#1294)
  spec/rakelib/release_spec.rb
  spec/rakelib/spec_helper_truncation_guard_spec.rb
  spec/spec_helper.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bump the root package.json on the dry-run release path (#1295)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Install node dependencies in the dry-run release worktree
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Force devDependencies in the dry-run worktree install
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Install node dependencies in the dry-run release worktree (#1297)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Use unary plus for the unfrozen test string
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover verify_gh_auth's decode_gh_output call sites
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bump the root package.json on the dry-run release path (#1293)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Decode gh output as UTF-8 in the release task (#1291)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bump rspack dev pin from 2.2.0 to 2.2.1 (#1282)
  package.json
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
  yarn.lock
Due: prettier-format, check-trailing-newlines

Run release-it non-interactively on the dry-run path
  rakelib/release.rake
Due: none

Revert "Bump the root package.json on the dry-run release path (#1293)"
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Isolate #javascript_transpiler specs from SHAKAPACKER_ASSETS_BUNDLER
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Trigger Ruby CI on rakelib and .rake file changes
  .github/workflows/ruby.yml
Due: prettier-format, check-trailing-newlines

Split the prettier format check into its own workflow
  .github/workflows/node.yml
  .github/workflows/prettier.yml
Due: prettier-format, check-trailing-newlines

Emit the legacy bundler deprecation warning once per instance
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add CHANGELOG entry for the one-shot bundler deprecation warning fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Run actionlint for every workflow change and drop the stale prettierignore trigger
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

Match the changelog entry to the bold-lead Fixed convention
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Isolate doctor_spec.rb from an ambient SHAKAPACKER_ASSETS_BUNDLER
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Revert the duplicate root package.json bump that turned main red (#1299)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Split the prettier format check into its own workflow (#1303)
  .github/workflows/node.yml
  .github/workflows/prettier.yml
Due: prettier-format, check-trailing-newlines

Run release-it non-interactively on the dry-run path (#1298)
  rakelib/release.rake
Due: none

Trigger Ruby CI on rakelib and .rake file changes (#1302)
  .github/workflows/ruby.yml
Due: prettier-format, check-trailing-newlines

Isolate #javascript_transpiler specs from SHAKAPACKER_ASSETS_BUNDLER (#1301)
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Emit the legacy bundler deprecation warning once per instance (#1304)
  CHANGELOG.md
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
