Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Add --help support and README docs for bin/shakapacker-watch
  README.md
  lib/install/bin/shakapacker-watch
Due: prettier-format, check-trailing-newlines

Address review: fix child_pid race and add watch binstub to doctor
  lib/install/bin/shakapacker-watch
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add bin/shakapacker-watch binstub for clean Ctrl-C shutdown (#1026)
  CHANGELOG.md
  README.md
  lib/install/bin/shakapacker-watch
  lib/shakapacker/doctor.rb
  spec/dummy/Procfile.dev
  spec/dummy/Procfile.dev-static
  spec/dummy/Procfile.dev-static-assets
  spec/dummy/bin/shakapacker-watch
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix PR 1021 linting failures
  .github/workflows/trigger-docs-site.yml
  test/package/bundlerUtils.rspack.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Allow webpack-cli v7 in peer dependencies
  CHANGELOG.md
  docs/peer-dependencies.md
  package.json
Due: prettier-format, check-trailing-newlines

Align webpack compatibility for webpack-cli v7
  CHANGELOG.md
  README.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/v9_upgrade.md
  lib/install/package.json
  lib/shakapacker/doctor.rb
  package.json
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix CI workflow failures for dummy and d.ts checks
  .github/workflows/dummy.yml
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

Add RFC for tightening dependencies in Shakapacker v17
  docs/rfcs/0001-tighten-dependencies-v17.md
Due: prettier-format, check-trailing-newlines

Address PR review: sync doc examples and dummy app Node engine
  README.md
  docs/optional-peer-dependencies.md
  docs/v9_upgrade.md
  spec/dummy/package.json
Due: prettier-format, check-trailing-newlines

Fix dummy lock peer range for webpack-cli v7
  spec/dummy/package-lock.json
Due: prettier-format, check-trailing-newlines

Fix dummy lockfile peer dependency versions
  spec/dummy/package-lock.json
Due: prettier-format, check-trailing-newlines

Address PR review: changelog, doctor, lockfile, docs, and cleanup
  .github/workflows/node.yml
  CHANGELOG.md
  docs/v9_upgrade.md
  lib/shakapacker/doctor.rb
  package/webpackDevServerConfig.ts
  spec/dummy/package-lock.json
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Fix doctor webpack-dev-server optional peer dependency
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix CI checks and commit workspace updates
  .github/workflows/node.yml
  public/packs/manifest.json
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/test_app/public/packs-staging/manifest.json
  spec/shakapacker/test_app/public/packs-test/manifest.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Remove accidentally committed manifest build artifact
  public/packs/manifest.json
Due: prettier-format, check-trailing-newlines

fix(ci): fix Prettier and TypeScript deprecation failures on main
  .github/workflows/node.yml
  .github/workflows/trigger-docs-site.yml
Due: prettier-format, check-trailing-newlines

fix(ci): add --module node16 required by --moduleResolution node16
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

fix(ci): use moduleResolution bundler instead of node16
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

fix(ci): add --types node for bundler moduleResolution
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

fix(ci): fix Prettier and TypeScript deprecation failures (#1033)
  .github/workflows/node.yml
  .github/workflows/trigger-docs-site.yml
Due: prettier-format, check-trailing-newlines

fix: default static to false and fix YAML static: false passthrough
  lib/install/config/shakapacker.yml
  package/webpackDevServerConfig.ts
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

test: add tests for webpackDevServerConfig static handling
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: add changelog entry for static config fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: update changelog with PR number
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

style: fix Prettier formatting in test file
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: pass through all YAML static values instead of silently dropping them
  package/webpackDevServerConfig.ts
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: widen static type to match webpack-dev-server API, handle null
  package/webpackDevServerConfig.ts
Due: js-lint, check-trailing-newlines, jest-affected

test: add string passthrough test for static config
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

refactor: simplify resolving js peer versions when installing
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: ensure latest `compression-webpack-plugin` is installed
  lib/install/package.json
Due: prettier-format, check-trailing-newlines

docs: add changelog entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: update peer dependencies
  docs/peer-dependencies.md
Due: prettier-format, check-trailing-newlines

fix: ensure latest `compression-webpack-plugin` is installed (#1035)
  CHANGELOG.md
  docs/peer-dependencies.md
  lib/install/package.json
Due: prettier-format, check-trailing-newlines

refactor: simplify resolving js peer versions when installing (#1034)
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix PR 1021 linting failures
  test/package/bundlerUtils.rspack.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix CI workflow failures for dummy and d.ts checks
  .github/workflows/dummy.yml
Due: prettier-format, check-trailing-newlines

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
