Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Fix issues
  CONTRIBUTING.md
  bin/lefthook/jest-affected
  bin/lefthook/js-lint
  bin/lefthook/prettier-format
  bin/lefthook/rspec-affected
  lefthook.yml
  spec/dummy/bin/shakapacker-config
Due: prettier-format, check-trailing-newlines

fixes
  bin/lefthook/js-lint
  lefthook.yml
  scripts/type-check-no-emit.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

update js script
  bin/lefthook/js-lint
Due: none

stage files that were autocorrected
  bin/lefthook/js-lint
  bin/lefthook/prettier-format
  bin/lefthook/rubocop-lint
Due: none

Fix prettier formatting and add CI reproduction script
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  scripts/ci-local.sh
  spec/dummy/bin/shakapacker-config
  yarn.lock
Due: none

Release 9.3.4
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy lockfiles after release
  spec/dummy/Gemfile.lock
Due: none

Add comprehensive Jest unit tests for rspack support
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix raw file rule test to properly assert rule exists
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Improve test assertions and fix test isolation issues
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add comprehensive unit tests for rspack exports
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix prettier formatting in spec/dummy/bin/shakapacker-config
  spec/dummy/bin/shakapacker-config
Due: none

Add SHAKAPACKER_SKIP_PRECOMPILE_HOOK environment variable support
  docs/precompile_hook.md
  lib/shakapacker/compiler.rb
  sig/shakapacker/compiler.rbs
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix bin/dev example to use bash with export for ENV vars
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Fix bin/dev examples to correctly pass ENV vars to foreman/overmind
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Clarify that bin/dev examples are for custom scripts
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Improve precompile hook documentation and add changelog entry
  CHANGELOG.md
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Add SHAKAPACKER_SKIP_PRECOMPILE_HOOK environment variable support (#850)
  CHANGELOG.md
  docs/precompile_hook.md
  lib/shakapacker/compiler.rb
  sig/shakapacker/compiler.rbs
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Release 9.4.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update CHANGELOG for v9.4.0 release
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Improve SHAKAPACKER_SKIP_PRECOMPILE_HOOK documentation and fix PR reference
  CHANGELOG.md
  docs/precompile_hook.md
  sig/shakapacker/compiler.rbs
Due: prettier-format, check-trailing-newlines

Improve SHAKAPACKER_SKIP_PRECOMPILE_HOOK documentation (#852)
  CHANGELOG.md
  docs/precompile_hook.md
  sig/shakapacker/compiler.rbs
Due: prettier-format, check-trailing-newlines

Update CHANGELOG for v9.4.0 release (#851)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Improve test assertions using explicit have_received checks
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add testing guideline for explicit RSpec spy assertions
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Fix gemspec's files regexp
  shakapacker.gemspec
Due: none

Improve test assertions using explicit have_received checks (#854)
  CLAUDE.md
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add gemspec spec tests and CHANGELOG entry for Gemfile.lock exclusion
  CHANGELOG.md
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix CI failures: restore root bin/shakapacker-config and fix prettier
  bin/shakapacker-config
Due: none

Fix CI failures: restore root bin/shakapacker-config and fix prettier (#858)
  bin/shakapacker-config
Due: none

Fix: prettier formatting
  CHANGELOG.md
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix: use null default for optional env vars in EnvironmentPlugin
  package/plugins/rspack.ts
  package/plugins/webpack.ts
Due: js-lint, check-trailing-newlines, jest-affected

fix(security): prevent environment variable leak via EnvironmentPlugin
  CHANGELOG.md
  package/plugins/rspack.ts
  package/plugins/webpack.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add security warning for dangerous env var patterns
  CHANGELOG.md
  package/plugins/rspack.ts
  package/plugins/webpack.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Refactor: extract shared env filter logic to envFilter.ts
  CHANGELOG.md
  package/plugins/envFilter.ts
  package/plugins/rspack.ts
  package/plugins/webpack.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add webpack 5.103+ context to security note in changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Address PR review comments
  package/plugins/envFilter.ts
  package/plugins/rspack.ts
  package/plugins/webpack.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: Add SHAKAPACKER_ENV_VARS documentation
  docs/configuration.md
Due: prettier-format, check-trailing-newlines
