Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Address PR review: changelog, doctor, lockfile, docs, and cleanup
  CHANGELOG.md
  docs/v9_upgrade.md
  lib/shakapacker/doctor.rb
  package/webpackDevServerConfig.ts
  spec/dummy/package-lock.json
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Fix CI checks and commit workspace updates
  public/packs/manifest.json
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/test_app/public/packs-staging/manifest.json
  spec/shakapacker/test_app/public/packs-test/manifest.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address PR review: doctor false positive, build artifact, README note
  .gitignore
  README.md
  lib/shakapacker/doctor.rb
  public/packs/manifest.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address latest PR feedback on compatibility and migration warnings
  CHANGELOG.md
  README.md
  lib/install/template.rb
  package/webpackDevServerConfig.ts
  test/package/webpackDevServerConfig.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Show webpack-cli ^6.0.0 as default in docs, delete deprecated keys explicitly
  README.md
  docs/v9_upgrade.md
  package/webpackDevServerConfig.ts
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix docs, CI, and installer for webpack-cli v6/v7 Node.js caveat
  .github/workflows/dummy.yml
  docs/optional-peer-dependencies.md
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix dummy CI Node version pin
  .github/workflows/dummy.yml
Due: prettier-format, check-trailing-newlines

docs: address review feedback
  docs/api-reference.md
  docs/transpiler-migration.md
Due: prettier-format, check-trailing-newlines

docs: fix stale and broken guides
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/api-reference.md
  docs/cdn_setup.md
  docs/common-upgrades.md
  docs/css-modules-export-mode.md
  docs/deployment.md
  docs/early_hints.md
  docs/peer-dependencies.md
  docs/precompile_hook.md
  docs/react.md
  docs/releasing.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/troubleshooting.md
  docs/typescript-migration.md
  docs/using_esbuild_loader.md
  docs/using_swc_loader.md
  docs/v9_upgrade.md
  package/types/README.md
  spec/dummy/README.md
Due: prettier-format, check-trailing-newlines

Allow webpack-cli v7 in peer dependencies (#1021)
  .github/workflows/dummy.yml
  .gitignore
  CHANGELOG.md
  README.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/v9_upgrade.md
  lib/install/package.json
  lib/install/template.rb
  lib/shakapacker/doctor.rb
  package.json
  package/webpackDevServerConfig.ts
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/test_app/public/packs-staging/manifest.json
  spec/shakapacker/test_app/public/packs-test/manifest.json
  test/package/bundlerUtils.rspack.test.js
  test/package/webpackDevServerConfig.test.js
  yarn.lock
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

docs: refine React guidance toward React on Rails
  docs/react.md
Due: prettier-format, check-trailing-newlines

Update rspack to v2.0.0-rc.0
  docs/rspack.md
  package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

docs: tighten v9.1.1 minimum and CDN verification check
  docs/cdn_setup.md
  docs/troubleshooting.md
Due: prettier-format, check-trailing-newlines

Fix stale and broken documentation across Shakapacker guides (#1023)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/api-reference.md
  docs/cdn_setup.md
  docs/common-upgrades.md
  docs/css-modules-export-mode.md
  docs/deployment.md
  docs/early_hints.md
  docs/peer-dependencies.md
  docs/precompile_hook.md
  docs/react.md
  docs/releasing.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/troubleshooting.md
  docs/typescript-migration.md
  docs/using_esbuild_loader.md
  docs/using_swc_loader.md
  docs/v9_upgrade.md
  package/types/README.md
  spec/dummy/README.md
Due: prettier-format, check-trailing-newlines

Update rspack dev deps to 2.0.0-rc.0 (#1036)
  docs/rspack.md
  package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.0.0-rc.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.0.0-rc.0 (#1037)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Bump nokogiri to fix Ruby 3.4 install
  Gemfile.lock
Due: none

Fix Nokogiri build failure on Ruby 3.4.6 (#1038)
  Gemfile.lock
Due: none

Add bin/setup for development deps
  bin/setup
Due: none

Use npx release-it in release task
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Document bin/setup in contributing guide
  CONTRIBUTING.md
Due: prettier-format, check-trailing-newlines

Use npx release-it to avoid mise shim failures (#1040)
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Release 10.0.0-rc.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  spec/dummy/Gemfile.lock
  spec/dummy/yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add end-of-run summary for rake release
  rakelib/release.rake
Due: none

Add bin/setup to install development deps (#1039)
  CONTRIBUTING.md
  bin/setup
Due: prettier-format, check-trailing-newlines

Derive dry-run file list from staged files
  rakelib/release.rake
Due: none

Eliminate redundant changelog reads and add dry-run changelog status
  rakelib/release.rake
Due: none

Add final summary output to rake release (#1041)
  rakelib/release.rake
Due: none

Read the shakapacker instance config in compiler strategies
  CHANGELOG.md
  lib/shakapacker/base_strategy.rb
  lib/shakapacker/compiler_strategy.rb
  lib/shakapacker/digest_strategy.rb
  lib/shakapacker/instance.rb
  spec/shakapacker/compiler_strategy_spec.rb
  spec/shakapacker/digest_strategy_spec.rb
  spec/shakapacker/mtime_strategy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix rspack environment config merge
  CHANGELOG.md
  package/rspack/index.ts
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Harden diff-bundler-config fallback and unblock pnpm installs
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

Supersede #961 with external pack-config-diff integration
  README.md
  bin/diff-bundler-config
  docs/config-diff.md
  docs/rspack_migration_guide.md
  docs/troubleshooting.md
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  lib/tasks/shakapacker/doctor.rake
  package.json
  spec/shakapacker/doctor_spec.rb
  yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden diff-bundler-config execution and doctor binstub checks
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden npx fallback behavior for non-interactive CI
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
Due: none

Use published pack-config-diff v0.1.0 from npm
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

Separate diff-result and runtime failure exit codes
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
Due: prettier-format, check-trailing-newlines

Address follow-up review feedback on config diff binstub
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix CI: yalc link ordering and prettier formatting
  .github/workflows/test-bundlers.yml
  Rakefile
  package/types/README.md
Due: prettier-format, check-trailing-newlines

Fix CI: use yalc add, move pack-config-diff to optionalDependencies
  .github/workflows/test-bundlers.yml
  .prettierignore
  Rakefile
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  lib/tasks/shakapacker/doctor.rake
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
