Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Fix Claude Code review workflow comment tools
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude Code Review workflow comment tooling (#928)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Move build tooling packages to dependencies
  package.json
Due: prettier-format, check-trailing-newlines

Fix installer to avoid SWC deps when transpiler is Babel (#895)
  CHANGELOG.md
  lib/install/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix missing-environment fallback to use production (#894)
  CHANGELOG.md
  lib/shakapacker/env.rb
  spec/shakapacker/env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix Prettier formatting for markdown table in precompile_hook.md
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Fix Prettier formatting in precompile_hook.md (#932)
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Also detect -j short flag for JSON output mode
  lib/shakapacker/runner.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Write [Shakapacker] log messages to stderr instead of stdout
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix CI failures: replace integration JSON tests with unit tests
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry and tests for stderr log output
  CHANGELOG.md
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix remaining puts statements to use $stderr in init/list builds
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Only redirect log messages to stderr when --json is in argv
  CHANGELOG.md
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Seed empty manifest before WebpackAssetsManifest merge
  package/plugins/webpack.ts
Due: js-lint, check-trailing-newlines, jest-affected

Extract ensureManifestExists to utility module and remove brittle tests
  package/plugins/webpack.ts
  package/utils/ensureManifestExists.ts
  test/package/plugins/ensureManifestExists.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review feedback for ensureManifestExists
  package/plugins/webpack.ts
  test/package/plugins/ensureManifestExists.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: changelog, test location, and TOCTOU fix
  CHANGELOG.md
  package/utils/ensureManifestExists.ts
  test/package/utils/ensureManifestExists.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix capture_stderr helper and style in runner spec
  lib/shakapacker/runner.rb
  spec/shakapacker/runner_build_config_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add checks/statuses read permissions to Claude workflow
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Add checks/statuses read permissions to Claude workflow (#934)
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Remove default CORS header from dev server config
  CHANGELOG.md
  CLAUDE.md
  docs/configuration.md
  lib/install/config/shakapacker.yml
Due: prettier-format, check-trailing-newlines

Update changelog with PR number
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Improve CORS documentation and changelog clarity
  CHANGELOG.md
  docs/configuration.md
  lib/install/config/shakapacker.yml
Due: prettier-format, check-trailing-newlines

fix: allow `compression-webpack-plugin` v12
  package.json
Due: prettier-format, check-trailing-newlines

docs: update changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

test: update dummy
  spec/dummy/package-lock.json
  spec/dummy/package.json
Due: prettier-format, check-trailing-newlines

Collapse duplicate CORS migration guidance in changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Comment out CORS header in test dummy app configs
  spec/dummy/config/shakapacker-rspack.yml
  spec/dummy/config/shakapacker-webpack.yml
Due: prettier-format, check-trailing-newlines

Cache log_output_for(argv) in local variable
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Write [Shakapacker] log messages to stderr instead of stdout (#869)
  CHANGELOG.md
  lib/shakapacker/runner.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
