Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Add "Why Shakapacker with Rspack" comparison guide
  README.md
  docs/why-shakapacker-rspack.md
Due: prettier-format, check-trailing-newlines

Add "Why Shakapacker with Rspack" comparison guide (#1155)
  README.md
  docs/why-shakapacker-rspack.md
Due: prettier-format, check-trailing-newlines

Address review: lazy-export overrides, accurate docs, and test hardening
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Refine installer bundler resolution and tighten install specs
  CHANGELOG.md
  docs/installation.md
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  spec/shakapacker/install_env_spec.rb
  spec/shakapacker/install_task_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review: WEBPACK_SERVE isolation, type/test hardening
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Make Rspack the default bundler for new installs (#1150)
  CHANGELOG.md
  docs/dependency-strategy.md
  docs/installation.md
  lib/install/config/shakapacker.yml
  lib/install/package.json
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  lib/tasks/shakapacker.rake
  lib/tasks/shakapacker/install.rake
  spec/generator_specs/generator_spec.rb
  spec/shakapacker/install_env_spec.rb
  spec/shakapacker/install_task_spec.rb
  spec/shakapacker/install_template_config_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review: accurate error breadcrumbs and override docs
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: document baseConfig override footgun and rspack TODO(#641)
  package/index.d.ts
  package/index.d.ts.template
  package/rspack/index.ts
Due: js-lint, check-trailing-newlines, jest-affected

Restore curated package/index.d.ts (drop accidental generated declaration)
  package/index.d.ts
Due: js-lint, check-trailing-newlines, jest-affected

Address review: accurate baseConfig override docs, parity-guard note, tsconfig note, test teeth
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  tsconfig.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add CHANGELOG entry for AI analysis prompt generator (#695)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Address review: tsc stdio parity, tsconfig back-reference, changelog override caveat
  CHANGELOG.md
  package/rspack/index.ts
  test/package/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address review: remove dead parity guard from webpack entry
  package/index.ts
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: list all exported files, fix links, make prompt write non-fatal
  CHANGELOG.md
  docs/troubleshooting.md
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix Psych::DisallowedClass boot crash on pnpm-lock.yaml time: section
  CHANGELOG.md
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Extract shared createLazyExport utility for entry points
  package/index.ts
  package/rspack/index.ts
  package/utils/createLazyExport.ts
  spec/dummy/config/rspack/rspack.config.js
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/index.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: dedup doctor configs, make generator static, test edge cases
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: omit absolute export path from AI prompt
  package/configExporter/aiPromptGenerator.ts
  test/package/configExporter/aiPromptGenerator.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: label hmr+server exports as server bundles
  package/configExporter/aiPromptGenerator.ts
  test/package/configExporter/aiPromptGenerator.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Permit Date in pnpm-lock.yaml time: parsing
  CHANGELOG.md
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Cache undefined loads and tighten createLazyExport descriptor type
  package/utils/createLazyExport.ts
  test/package/createLazyExport.test.js
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Document intentional breadth of ManifestPlugin suffix match
  spec/dummy/config/rspack/rspack.config.js
Due: js-lint, check-trailing-newlines, jest-affected

Tighten pnpm time: comment and nest the regression spec
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address PR review: prompt content fixes and exporter cleanup
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Drop undefined-reset path from createLazyExport setter
  package/index.ts
  package/rspack/index.ts
  package/utils/createLazyExport.ts
  test/package/createLazyExport.test.js
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: remove dead includeReactOnRailsContext parameter
  package/configExporter/aiPromptGenerator.ts
  test/package/configExporter/aiPromptGenerator.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: drop fragile spec/dummy reference link
  package/configExporter/aiPromptGenerator.ts
  test/package/configExporter/aiPromptGenerator.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Document load-throws retry contract and guard indexTypes lib symlink
  package/utils/createLazyExport.ts
  test/package/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Pin @babel/preset-react to v7 in generator e2e template
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add AI analysis prompt generator to config exporter (#695)
  CHANGELOG.md
  docs/troubleshooting.md
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  package/configExporter/index.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Pin i18n < 1.15 on Ruby 3.1 to fix generator and ruby CI
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Ruby 3.1 CI: exclude broken i18n 1.15.0/1.15.1
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
Due: none

Fix Ruby 3.1 CI: exclude broken i18n 1.15.0/1.15.1 (Fiber[]) (#1171)
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
Due: none

Adopt agent-workflow binstubs and AGENTS.md pointer
  .agents/agent-workflow.yml
  .agents/bin/README.md
  .agents/bin/build
  .agents/bin/lint
  .agents/bin/setup
  .agents/bin/test
  .agents/bin/validate
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Run wrappers from repo root; run jest with --runInBand
  .agents/bin/README.md
  .agents/bin/build
  .agents/bin/lint
  .agents/bin/setup
  .agents/bin/test
  .agents/bin/validate
Due: prettier-format, check-trailing-newlines

Adopt agent-workflow binstubs (.agents/bin/ + AGENTS.md pointer) (#1176)
  .agents/agent-workflow.yml
  .agents/bin/README.md
  .agents/bin/build
  .agents/bin/lint
  .agents/bin/setup
  .agents/bin/test
  .agents/bin/validate
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Fix main CI generator dependency pin
  .agents/bin/README.md
  spec/generator_specs/e2e_template/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix doctor Sass implementation detection
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add webpack compile flags config
  CHANGELOG.md
  docs/api-reference.md
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/compiler.rb
  lib/shakapacker/configuration.rb
  package/types.ts
  package/utils/typeGuards.ts
  sig/shakapacker/configuration.rbs
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/configuration_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Address Sass doctor review feedback
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
