Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Harden side-effect specs per review
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: sync readonly rules in template, tighten rspack type tests
  package/index.d.ts.template
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: WEBPACK_SERVE isolation, type/test hardening
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address rspack manifest review feedback
  package/rspack/index.ts
  spec/dummy/config/rspack/rspack.config.js
  test/package/indexSideEffects.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix lazy base config export coverage
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Avoid package index plugin side effects
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review and lint follow-ups
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address lazy export review feedback
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix prettier formatting in rspack indexTypes test
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: document baseConfig override footgun and rspack TODO(#641)
  package/index.d.ts
  package/index.d.ts.template
  package/rspack/index.ts
Due: js-lint, check-trailing-newlines, jest-affected

Address review nits: symmetric lazy rules, setter traps, polished CHANGELOG
  CHANGELOG.md
  package/index.d.ts
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Cache lazy base config export
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix rspack ESM named exports
  package/rspack/index.ts
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Polish lazy baseConfig review nits
  CHANGELOG.md
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR review: extend lazy fix to rspack, docs, and polish
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Document ESM named-import break in #1107 breaking-changes entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Address review: accurate error breadcrumbs and override docs
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Harden side-effect test isolation and document override path
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: drop dead rspack requires and add side-effects test
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address final review and CI feedback
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Remove redundant index side effects cleanup
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: clarify setter docs, document TS-emit dependency, add symmetric rules tests
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add afterEach mock cleanup to rspack side-effects spec
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address rspack lazy export review findings
  CHANGELOG.md
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address review: lazy-export overrides, accurate docs, and test hardening
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address lazy export review follow-ups
  CHANGELOG.md
  spec/dummy/config/rspack/rspack.config.js
  test/package/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix rspack lazy export static bindings
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/indexSideEffects.test.js
  tsconfig.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Clarify lazy export static markers
  package/index.ts
  package/rspack/index.ts
  test/package/createLazyExport.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Drop undefined-reset path from createLazyExport setter
  package/index.ts
  package/rspack/index.ts
  package/utils/createLazyExport.ts
  test/package/createLazyExport.test.js
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: tsc stdio parity, tsconfig back-reference, changelog override caveat
  CHANGELOG.md
  package/rspack/index.ts
  test/package/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Document load-throws retry contract and guard indexTypes lib symlink
  package/utils/createLazyExport.ts
  test/package/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Guard rspack lazy export declaration docs
  test/package/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address lazy export review follow-ups
  package/index.d.ts
  package/index.d.ts.template
  test/package/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Cache undefined loads and tighten createLazyExport descriptor type
  package/utils/createLazyExport.ts
  test/package/createLazyExport.test.js
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: accurate baseConfig override docs, parity-guard note, tsconfig note, test teeth
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  tsconfig.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Restore webpack ESM named import compatibility
  package/index.ts
  package/rspack/index.ts
  test/package/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Extract shared createLazyExport utility for entry points
  package/index.ts
  package/rspack/index.ts
  package/utils/createLazyExport.ts
  spec/dummy/config/rspack/rspack.config.js
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/index.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Document intentional breadth of ManifestPlugin suffix match
  spec/dummy/config/rspack/rspack.config.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: remove dead parity guard from webpack entry
  package/index.ts
Due: js-lint, check-trailing-newlines, jest-affected

Defer webpack/rspack package-index side effects (#1107)
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  package/utils/createLazyExport.ts
  spec/dummy/config/rspack/rspack.config.js
  test/package/createLazyExport.test.js
  test/package/indexSideEffects.test.js
  test/package/indexTypes.test.js
  test/package/rspack/indexSideEffects.test.js
  test/spec/dummy/rspackConfig.test.js
  tsconfig.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected
