Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Clean up dev server test env vars
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Reset dev server test env after each case
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix order-dependent flake in dev_server custom-env-prefix test
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Clarify generator dependency pins
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address dev server review feedback
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Pin @babel/preset-react to v7 in generator e2e template
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add CHANGELOG entries for #1127 binstub follow-up fixes
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Use legacy JS binstub executable in export task
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address legacy binstub review feedback
  spec/shakapacker/export_bundler_config_task_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover legacy node binstub warning
  spec/shakapacker/export_bundler_config_task_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify Babel preset pin rationale
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix order-dependent flake in dev_server custom-env-prefix test (#1154)
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Handle legacy binstub exec edge cases
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Preserve direct node shebang paths
  lib/shakapacker/utils/misc.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Pin @babel/preset-react to v7 in generator e2e template (#1167)
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Pin i18n < 1.15 on Ruby 3.1 to fix generator and ruby CI
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Use conservative i18n pin for Ruby 3.1
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
Due: none

Align i18n generator guard with main
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
Due: none

Harden legacy binstub fallback handling
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover legacy binstub edge cases
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Pin i18n < 1.15 on Ruby 3.1 to fix generator & ruby CI (#1168)
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Strengthen export config error spec
  spec/shakapacker/export_bundler_config_task_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover export config binstub edge cases
  lib/shakapacker/utils/misc.rb
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Handle env assignments in JS binstubs
  lib/shakapacker/utils/misc.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix legacy JS binstub dispatch and NODE_ENV default in helper binstubs (#1127)
  CHANGELOG.md
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden pnpm lock legacy YAML loading
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Simplify pnpm lock YAML loading
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten pnpm time: comment and nest the regression spec
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Cover pnpm lock parser edge cases
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Use capability probe for pnpm YAML loading
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Permit Date in pnpm-lock.yaml time: parsing
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify pnpm lock Psych compatibility
  lib/shakapacker/version_checker.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Psych::DisallowedClass boot crash on pnpm-lock.yaml time: section
  CHANGELOG.md
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Support older Psych safe_load arguments
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Harden pnpm lock parsing compatibility
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Psych::DisallowedClass boot crash on pnpm-lock.yaml time: section (#1161)
  CHANGELOG.md
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update Rspack v2 dev-server defaults
  CHANGELOG.md
  Rakefile
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/common-upgrades.md
  docs/dependency-strategy.md
  docs/installation.md
  docs/migration/v10.1-supplemental-packages.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  lib/install/package.json
  lib/install/template.rb
  lib/shakapacker/bundler_switcher.rb
  lib/shakapacker/doctor.rb
  package.json
  package/environments/development.ts
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/package.json
  spec/dummy/README.md
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  spec/shakapacker/bundler_switcher_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/optional_dependencies_spec.rb
  spec/shakapacker/rake_tasks_spec.rb
  test/package/environments/development-rspack-react-refresh.test.js
  test/package/rspack/index.test.js
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
  yarn.lock
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Address Rspack v2 review feedback
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  lib/shakapacker/bundler_switcher.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/bundler_switcher_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix Rspack dependency uninstall checks
  lib/shakapacker/bundler_switcher.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/bundler_switcher_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
