Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Fix .cjs matching in webpack transpiler rules (#1219)
  CHANGELOG.md
  package/rules/babel.ts
  package/rules/esbuild.ts
  package/rules/swc.ts
  test/package/rules/babel.test.js
  test/package/rules/esbuild.test.js
  test/package/rules/swc.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Clarify agent workflow policy and trust sources
  .agents/agent-workflow.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Clarify agent workflow policy source
  .agents/bin/README.md
Due: prettier-format, check-trailing-newlines

Fix agent workflow seam pointer (#1217)
  .agents/agent-workflow.yml
  .agents/bin/README.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Configure agent workflow repo policy
  .agents/agent-workflow.yml
Due: prettier-format, check-trailing-newlines

Fix 502s from proxied packs under rack-proxy v1
  lib/shakapacker/dev_server_proxy.rb
  spec/shakapacker/dev_server_proxy_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Configure agent workflow repo policy (#1221)
  .agents/agent-workflow.yml
Due: prettier-format, check-trailing-newlines

Bracket IPv6 hosts in the backend URI
  lib/shakapacker/dev_server_proxy.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add CHANGELOG entry for the rack-proxy v1 fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Harden dev server socket probe
  CHANGELOG.md
  lib/shakapacker/dev_server.rb
  spec/shakapacker/dev_server_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review feedback
  CHANGELOG.md
  spec/shakapacker/dev_server_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix false-positive dev server liveness checks (#1225)
  CHANGELOG.md
  lib/shakapacker/dev_server.rb
  spec/shakapacker/dev_server_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix 502s from proxied packs under rack-proxy v1 (#1222)
  CHANGELOG.md
  lib/shakapacker/dev_server_proxy.rb
  spec/shakapacker/dev_server_proxy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update changelog for v10.3.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update changelog for v10.3.1 (#1226)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.3.1
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Block rake release when CI is not green
  Rakefile
  docs/releasing.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Restore main to green
  AGENTS.md
  spec/dummy/Gemfile.lock
Due: prettier-format, check-trailing-newlines

Fix release task never updating spec/dummy/Gemfile.lock
  lib/shakapacker/utils/misc.rb
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Align CI gate with react_on_rails and cover commit statuses
  docs/releasing.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Restore main to green (#1231)
  AGENTS.md
  spec/dummy/Gemfile.lock
Due: prettier-format, check-trailing-newlines

docs: correct v10 upgrade references
  docs/common-upgrades.md
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

Fail closed when PATH is unset
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

test: prove Babel 8 preset transforms input
  test/packages/babel8-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: format Babel 8 smoke proof
  test/packages/babel8-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: clarify Babel smoke negative control
  test/packages/babel8-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Lint extensionless merge readiness helper
  .rubocop.yml
Due: prettier-format, check-trailing-newlines

Configure direct merge submission
  .agents/agent-workflow.yml
Due: prettier-format, check-trailing-newlines

Configure direct merge submission (#1243)
  .agents/agent-workflow.yml
Due: prettier-format, check-trailing-newlines

Make AGENTS canonical for shared guidance
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/open-source.md
  .claude/rules/testing.md
  AGENTS.md
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Fix fork merge readiness evidence
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
  .agents/bin/validate
  .github/workflows/ruby.yml
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Keep required reviews merge-blocking
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify trust and Conductor guidance
  AGENTS.md
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Scope fork CI evidence to PR workflows
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
  .agents/bin/validate
  .github/workflows/ruby.yml
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Test merge readiness API pagination
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Ignore drifted review state in merged replay
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Verify all skipped fork checks
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Limit skipped provenance to unstable forks
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bind fork CI runs to current PR
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Replay merged fork workflow evidence
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected
