Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Expand precompile hook guidance and alternatives
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Add SKIP mode for shakapacker installer conflicts
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Write [Shakapacker] log messages to stderr instead of stdout
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix remaining puts statements to use $stderr in init/list builds
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry and tests for stderr log output
  CHANGELOG.md
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

chore: move non-cli build tooling to runtime dependencies
  package.json
Due: prettier-format, check-trailing-newlines

Switch default file rule to webpack asset module
  package/rules/file.ts
  test/package/rules/file.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Ignore hidden entrypoint files and directories
  package/environments/base.ts
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden.js
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden_dir/hidden_nested.js
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: validate all-builds save-dir and annotate format
  package/configExporter/cli.ts
  test/package/configExporter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix orphaned webpack/rspack processes when running under foreman (#888)
  CHANGELOG.md
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Use `asset` as the default file rule type (#901)
  package/rules/file.ts
  test/package/rules/file.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Update README.md
  README.md
Due: prettier-format, check-trailing-newlines

Keep installer dependency value in sync with requested source
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry for installer version sync fix (#899)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix changelog author attribution for PR #899
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Keep installer shakapacker dependency aligned with gem version (#899)
  CHANGELOG.md
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Document precompile_hook alternatives and tradeoffs (#897)
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Fallback to production when Rails env config is missing
  lib/shakapacker/env.rb
  spec/shakapacker/env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry for missing-environment fallback fix (#894)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix config file not updated when selecting non-swc transpiler
  lib/install/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Respect JAVASCRIPT_TRANSPILER=babel without forcing swc deps
  lib/install/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry for transpiler config fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add changelog entry for SKIP=true installer mode (#893)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Rename force_option to conflict_option and document FORCE precedence
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Improve error message when manifest is empty
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Differentiate empty manifest vs missing manifest file
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add RBS type signatures and changelog entry
  CHANGELOG.md
  sig/shakapacker/manifest.rbs
Due: prettier-format, check-trailing-newlines

Handle 0-byte manifest file without JSON parse error
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Require explicit truthy values for SKIP and FORCE env vars
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Release 9.6.0-beta.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy lockfiles after release
  spec/dummy/Gemfile.lock
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Remove broken Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude Code Review workflow: use built-in review instead of broken plugin
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix: remove invalid review_triggered_on input
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude Code Review workflow: use built-in review (#927)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
