Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Address review and lint follow-ups
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix instance-scoped compiler strategies
  CHANGELOG.md
  lib/shakapacker/base_strategy.rb
  lib/shakapacker/compiler_strategy.rb
  lib/shakapacker/digest_strategy.rb
  lib/shakapacker/instance.rb
  spec/shakapacker/compiler_strategy_spec.rb
  spec/shakapacker/digest_strategy_spec.rb
  spec/shakapacker/mtime_strategy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address PR review: instance-scoped env and changelog/test fixes
  CHANGELOG.md
  lib/shakapacker/digest_strategy.rb
  lib/shakapacker/mtime_strategy.rb
  spec/shakapacker/compiler_strategy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden side-effect specs per review
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Polish binstub spec PATH default and sync failure message
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Trim README into a docs-site index; relocate reference content to docs/
  README.md
  docs/api-reference.md
  docs/configuration.md
  docs/installation.md
  docs/node_package_api.md
  docs/optional-peer-dependencies.md
  docs/transpiler-migration.md
  docs/using_esbuild_loader.md
Due: prettier-format, check-trailing-newlines

Address review: fix broken doc links and code examples
  docs/api-reference.md
  docs/node_package_api.md
  docs/precompile_hook.md
  docs/preventing_fouc.md
  docs/transpiler-migration.md
  docs/troubleshooting.md
  docs/v6_upgrade.md
  lib/shakapacker/helper.rb
  spec/shakapacker/helper_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Mark createBinStub export as @internal
  package/configExporter/cli.ts
Due: js-lint, check-trailing-newlines, jest-affected

Fix instance-scoped compiler strategies (#1147)
  CHANGELOG.md
  lib/shakapacker/base_strategy.rb
  lib/shakapacker/compiler_strategy.rb
  lib/shakapacker/digest_strategy.rb
  lib/shakapacker/instance.rb
  lib/shakapacker/mtime_strategy.rb
  spec/shakapacker/compiler_strategy_spec.rb
  spec/shakapacker/digest_strategy_spec.rb
  spec/shakapacker/mtime_strategy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Optimize CI: run minimal version matrix on PRs
  .github/workflows/claude-code-review.yml
  .github/workflows/eslint-validation.yml
  .github/workflows/generator.yml
  .github/workflows/ruby.yml
  .github/workflows/test-bundlers.yml
Due: prettier-format, check-trailing-newlines

Document ESM named-import break in #1107 breaking-changes entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Optimize CI: minimal version matrix on PRs, full matrix on main (#1151)
  .github/workflows/claude-code-review.yml
  .github/workflows/eslint-validation.yml
  .github/workflows/generator.yml
  .github/workflows/ruby.yml
  .github/workflows/test-bundlers.yml
Due: prettier-format, check-trailing-newlines

Fix stacked empty headings in relocated docs
  docs/api-reference.md
  docs/optional-peer-dependencies.md
Due: prettier-format, check-trailing-newlines

Tighten helper binstub parity and PATH lookup (#1128)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
  test/configExporter/createBinStub.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Trim README into a docs-site index; relocate content to docs/ and fix deep links (#1148)
  README.md
  docs/api-reference.md
  docs/configuration.md
  docs/installation.md
  docs/node_package_api.md
  docs/optional-peer-dependencies.md
  docs/precompile_hook.md
  docs/preventing_fouc.md
  docs/troubleshooting.md
  docs/using_esbuild_loader.md
  docs/v6_upgrade.md
  lib/shakapacker/helper.rb
  spec/shakapacker/helper_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix CI badges and add prominent docs link in README
  README.md
Due: prettier-format, check-trailing-newlines

Fix README CI badges and add prominent docs link (#1152)
  README.md
Due: prettier-format, check-trailing-newlines

Support sass-loader v17
  CHANGELOG.md
  docs/dependency-strategy.md
  docs/peer-dependencies.md
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

Fill in PR number for sass-loader v17 changelog entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix Claude workflow permissions
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

[codex] Fix Claude workflow permissions (#1153)
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Add afterEach mock cleanup to rspack side-effects spec
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Support sass-loader v17 (#1141)
  CHANGELOG.md
  docs/dependency-strategy.md
  docs/peer-dependencies.md
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

Harden side-effect test isolation and document override path
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Make Rspack the default bundler for new installs
  CHANGELOG.md
  docs/dependency-strategy.md
  docs/installation.md
  lib/install/config/shakapacker.yml
  lib/install/package.json
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  lib/tasks/shakapacker.rake
  lib/tasks/shakapacker/install.rake
  spec/generator_specs/generator_spec.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add gsub no-op guard and explicit-webpack install coverage
  lib/install/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Preserve existing bundler when installer keeps the user's config
  CHANGELOG.md
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Make bundler config install messages mutually exclusive and explicit
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix tsconfig generator spec and address review feedback
  lib/install/config/shakapacker.yml
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review: preserve existing bundler, warn on invalid bundler arg
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  lib/tasks/shakapacker/install.rake
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fill in CHANGELOG PR number (#1150)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Make unknown-bundler warning accurate
  lib/tasks/shakapacker/install.rake
Due: none

Avoid misleading "Keeping" message and clarify webpack guard test
  lib/install/template.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix order-dependent flake in dev_server custom-env-prefix test
  test/package/dev_server.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add test coverage for install-time bundler handling
  lib/shakapacker/install/env.rb
  lib/tasks/shakapacker/install.rake
  spec/generator_specs/generator_spec.rb
  spec/shakapacker/install_env_spec.rb
  spec/shakapacker/install_template_config_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Validate SHAKAPACKER_ASSETS_BUNDLER in the installer template
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Name the dev-server package in the install output and tighten a comment
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Abort on an unknown shakapacker:install bundler argument
  lib/shakapacker/install/env.rb
  lib/tasks/shakapacker/install.rake
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Note why the dev-dependency name regex preserves scoped packages
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
