Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Improve CDN warning documentation and changelog
  CHANGELOG.md
  docs/early_hints.md
  lib/shakapacker/helper.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add CDN limitation warning for Early Hints feature (#878)
  CHANGELOG.md
  docs/early_hints.md
  lib/shakapacker/helper.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add changelog entry for modern Sass API default
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add changelog entry for bundler utilities
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add type definitions for bundler utilities
  package/types/index.ts
  package/utils/bundlerUtils.ts
Due: js-lint, check-trailing-newlines, jest-affected

Default to modern Sass API for sass-loader (#879)
  CHANGELOG.md
  package/rules/sass.ts
  test/package/rules/sass1.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Use centralized Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Use centralized Claude Code Review workflow from shakacode/.github
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Use centralized Claude Code Review workflow (#883)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Add comprehensive unit tests for rspack exports
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Export bundler utility functions for Webpack/Rspack compatibility
  eslint.config.js
  package/index.ts
  package/rspack/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add RBS type signatures and changelog entry
  CHANGELOG.md
  sig/shakapacker/manifest.rbs
Due: prettier-format, check-trailing-newlines

Improve diff output with contextual information and fix path normalization
  package/configDiffer/cli.ts
  package/configDiffer/configDocs.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/pathNormalizer.ts
  test/configDiffer/formatter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add configDiffer export to package.json and enhance documentation
  docs/config-diff.md
  package.json
  tmp/examples/dev-config.yaml
  tmp/examples/prod-config.yaml
Due: prettier-format, check-trailing-newlines

Add configuration diff engine for comparing webpack/rspack configs
  README.md
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  package/configDiffer/cli.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/index.ts
  package/configDiffer/pathNormalizer.ts
  package/configDiffer/types.ts
  test/configDiffer/diffEngine.test.js
  test/configDiffer/formatter.test.js
  test/configDiffer/pathNormalizer.test.js
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Replace left/right labels with meaningful file-based labels
  package/configDiffer/formatter.ts
  test/configDiffer/formatter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix prettier formatting and add CI reproduction script
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  scripts/ci-local.sh
  yarn.lock
Due: none

Fix remaining puts statements to use $stderr in init/list builds
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Claude Code Review workflow permissions
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Handle 0-byte manifest file without JSON parse error
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix ESLint violations in configDiffer module
  eslint.config.js
  package/configDiffer/cli.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/pathNormalizer.ts
Due: js-lint, check-trailing-newlines, jest-affected

Fix Claude Code Review workflow permissions (#886)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Add Claude Code GitHub Workflow (#887)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Fix orphaned webpack/rspack processes when running under foreman
  CHANGELOG.md
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add github PR link to changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Set up SIGTERM trap before spawning child process
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: add privateOutputPath computed property to JS config (#890)
  package/config.ts
  package/types.ts
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: add negative test for privateOutputPath when not configured
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

style: fix prettier formatting in config test
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

chore: fix prettier formatting in workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Add SKIP mode for shakapacker installer conflicts
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fallback to production when Rails env config is missing
  lib/shakapacker/env.rb
  spec/shakapacker/env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Respect JAVASCRIPT_TRANSPILER=babel without forcing swc deps
  lib/install/template.rb
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected
