Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Add changelog entries for PRs #963 and #900
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Stamp changelog as v9.6.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add changelog entries for PRs #963 and #900 (#964)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 9.6.1
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Strip changelog version header from GitHub release notes body
  rakelib/release.rake
Due: none

Strip changelog version header from GitHub release notes (#965)
  rakelib/release.rake
Due: none

Fix prettier formatting and add CI reproduction script
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  scripts/ci-local.sh
  yarn.lock
Due: none

Fix ESLint violations in configDiffer module
  eslint.config.js
  package/configDiffer/cli.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/pathNormalizer.ts
Due: js-lint, check-trailing-newlines, jest-affected

Improve diff output with contextual information and fix path normalization
  package/configDiffer/cli.ts
  package/configDiffer/configDocs.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/pathNormalizer.ts
  test/configDiffer/formatter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Replace left/right labels with meaningful file-based labels
  package/configDiffer/formatter.ts
  test/configDiffer/formatter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add configDiffer export to package.json and enhance documentation
  docs/config-diff.md
  package.json
  tmp/examples/dev-config.yaml
  tmp/examples/prod-config.yaml
Due: prettier-format, check-trailing-newlines

Add configuration diff engine for comparing webpack/rspack configs
  README.md
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  package/configDiffer/cli.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/index.ts
  package/configDiffer/pathNormalizer.ts
  package/configDiffer/types.ts
  test/configDiffer/diffEngine.test.js
  test/configDiffer/formatter.test.js
  test/configDiffer/pathNormalizer.test.js
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR review feedback for config differ
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  package/configDiffer/cli.ts
  package/configDiffer/configDocs.ts
  package/configDiffer/diffEngine.ts
  package/configDiffer/formatter.ts
  package/configDiffer/pathNormalizer.ts
  test/configDiffer/diffEngine.test.js
  test/configDiffer/formatter.test.js
  test/configDiffer/pathNormalizer.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address remaining review threads
  eslint.config.js
  package/configDiffer/cli.ts
  package/configDiffer/formatter.ts
  package/configDiffer/types.ts
  spec/fixtures/configDiffer/dev-config.yaml
  spec/fixtures/configDiffer/prod-config.yaml
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Avoid normalizing class instances in path normalizer
  package/configDiffer/pathNormalizer.ts
  test/configDiffer/pathNormalizer.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Port improved address-review command from react_on_rails
  .claude/commands/address-review.md
Due: prettier-format, check-trailing-newlines

Port improved address-review command from react_on_rails (#970)
  .claude/commands/address-review.md
Due: prettier-format, check-trailing-newlines

Fix release process not updating spec/dummy version in commit
  rakelib/release.rake
  spec/dummy/Gemfile.lock
Due: none

Update rakelib/release.rake
  rakelib/release.rake
Due: none

Fix release process not updating spec/dummy version in commit (#971)
  rakelib/release.rake
  spec/dummy/Gemfile.lock
Due: none

fix: validate all-builds save-dir and annotate format
  package/configExporter/cli.ts
  test/package/configExporter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: address PR review comments for cli.ts and release.rake
  package/configExporter/cli.ts
  rakelib/release.rake
Due: js-lint, check-trailing-newlines, jest-affected

fix: format markdown tables in docs/node_package_api.md to pass prettier
  docs/node_package_api.md
Due: prettier-format, check-trailing-newlines

refactor: remove remaining call_count patterns in compiler spec
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: use consistent |env, *args| signature in compiler spec stubs
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: add hook_executable variable and have_received assertions in compiler spec
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten precompile hook specs and update review command
  .claude/commands/address-review.md
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

fix: address PR review comments for workflow, runner, and cli
  .github/workflows/claude-code-review.yml
  lib/shakapacker/runner.rb
  package/configExporter/cli.ts
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Supersede #911: compiler_spec call-count refactor with lint unblock (#920)
  .claude/commands/address-review.md
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Supersede #905: all-builds validation fix with lint unblock (#914)
  .github/workflows/claude-code-review.yml
  docs/node_package_api.md
  lib/shakapacker/runner.rb
  package/configExporter/cli.ts
  rakelib/release.rake
  test/package/configExporter.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Consolidate duplicate configDocs modules into shared package/configDocs.ts
  package/configDiffer/configDocs.ts
  package/configDiffer/formatter.ts
  package/configDocs.ts
  package/configExporter/configDocs.ts
  package/configExporter/index.d.ts
  package/configExporter/index.ts
  package/configExporter/yamlSerializer.ts
  test/configDiffer/formatter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Supersede #961 with external pack-config-diff integration
  README.md
  bin/diff-bundler-config
  docs/config-diff.md
  docs/rspack_migration_guide.md
  docs/troubleshooting.md
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  lib/tasks/shakapacker/doctor.rake
  package.json
  spec/shakapacker/doctor_spec.rb
  yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Upgrade rspack support from v1 to v2 (beta)
  package.json
  test/package/bundlerUtils.rspack.test.js
  test/package/rspack/index.test.js
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Support both rspack v1 and v2 in peer deps, add v2 docs
  docs/rspack.md
  package.json
Due: prettier-format, check-trailing-newlines

Add reasons to upgrade to rspack v2 in docs
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Read the shakapacker instance config in compiler strategies
  CHANGELOG.md
  lib/shakapacker/base_strategy.rb
  lib/shakapacker/compiler_strategy.rb
  lib/shakapacker/digest_strategy.rb
  lib/shakapacker/instance.rb
  spec/shakapacker/compiler_strategy_spec.rb
  spec/shakapacker/digest_strategy_spec.rb
  spec/shakapacker/mtime_strategy_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
