Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

[codex] Update changelog for v10.1.0-rc.2 (#1136)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.1.0-rc.2
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Expand prerelease-to-stable changelog coalesce guidance
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Address PR #1138 review feedback on prerelease-to-stable guidance
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Update .claude/commands/update-changelog.md
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Expand prerelease-to-stable changelog coalesce guidance in /update-changelog (#1138)
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.1.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update version date and add npm package details
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.1.0 (#1139)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.1.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Omit Rspack devServer outside serve mode
  package/environments/development.ts
  spec/dummy/Gemfile.lock
  test/package/environments/development-rspack-react-refresh.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Add homepage links for supplemental npm packages
  README.md
Due: prettier-format, check-trailing-newlines

Clarify npm package badge labels
  README.md
Due: prettier-format, check-trailing-newlines

Clarify gem and package badge titles
  README.md
Due: prettier-format, check-trailing-newlines

Add homepage links for supplemental npm packages (#1145)
  README.md
Due: prettier-format, check-trailing-newlines

Fix Rspack devServer in static watch mode (#1142)
  package/environments/development.ts
  spec/dummy/Gemfile.lock
  test/package/environments/development-rspack-react-refresh.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: sync readonly rules in template, tighten rspack type tests
  package/index.d.ts.template
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix prettier formatting in rspack indexTypes test
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address rspack lazy export review findings
  CHANGELOG.md
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address review: drop dead rspack requires and add side-effects test
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Cache lazy base config export
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Avoid package index plugin side effects
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Polish lazy baseConfig review nits
  CHANGELOG.md
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR review: extend lazy fix to rspack, docs, and polish
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix lazy base config export coverage
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Remove redundant index side effects cleanup
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review nits: symmetric lazy rules, setter traps, polished CHANGELOG
  CHANGELOG.md
  package/index.d.ts
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address final review and CI feedback
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix rspack ESM named exports
  package/rspack/index.ts
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address rspack manifest review feedback
  package/rspack/index.ts
  spec/dummy/config/rspack/rspack.config.js
  test/package/indexSideEffects.test.js
  test/spec/dummy/rspackConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: clarify setter docs, document TS-emit dependency, add symmetric rules tests
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address lazy export review feedback
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Tighten binstub sync coverage and helper specs (#1123)
  package/configExporter/cli.ts
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address latest createBinStub review nits
  package/configExporter/cli.ts
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address createBinStub review nits
  package/configExporter/cli.ts
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address binstub review nits
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address remaining binstub coverage review notes
  spec/shakapacker/binstub_sync_spec.rb
  test/configExporter/createBinStub.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Preserve trailing empty PATH entries
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Honor empty PATH entries in helper binstubs
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected
