Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Require modern Sass implementation in doctor
  CHANGELOG.md
  docs/node_package_api.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Install Sass implementation for generated apps
  CHANGELOG.md
  lib/install/package.json
  spec/generator_specs/generator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix CI generator dependency drift
  .agents/bin/README.md
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Pin React Babel preset in generator spec
  spec/generator_specs/e2e_template/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Allow missing compile flags in JS guard
  package/utils/typeGuards.ts
  test/typescript/securityValidation.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address compile flags review feedback
  CHANGELOG.md
  docs/configuration.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  package/types.ts
  package/utils/typeGuards.ts
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Validate dev server passthrough flags
  lib/shakapacker/dev_server_runner.rb
  spec/shakapacker/dev_server_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix doctor Sass implementation detection (#1178)
  CHANGELOG.md
  docs/node_package_api.md
  lib/install/package.json
  lib/shakapacker/doctor.rb
  spec/generator_specs/e2e_template/template.rb
  spec/generator_specs/generator_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address compile flag review feedback
  lib/shakapacker/compiler.rb
  package/utils/typeGuards.ts
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Clarify dev server passthrough spec
  spec/shakapacker/dev_server_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address runner review feedback
  lib/shakapacker/runner.rb
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify review feedback handling
  lib/shakapacker/dev_server_runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/dev_server_runner_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Clarify shakapacker command flags
  lib/shakapacker/compiler.rb
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Document optional runner contract
  lib/shakapacker/compiler.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify passthrough option boundary
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/shared/help_and_version_examples.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Handle compiler spawn failures
  lib/shakapacker/compiler.rb
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten compile flag validation
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/configuration_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Handle runner edge cases
  lib/shakapacker/compiler.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address compile flag review followups
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Classify dev server flag change
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Extract rspack runner extension
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify dev server https passthrough help
  lib/shakapacker/dev_server_runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten wrapper flag handling
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Address compile flag review edge cases
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/compiler.rb
  lib/shakapacker/configuration.rb
  package/utils/typeGuards.ts
  spec/shakapacker/configuration_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Document dev server node flags
  CHANGELOG.md
  lib/shakapacker/dev_server_runner.rb
  spec/shakapacker/dev_server_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Tighten shared CLI flag handling
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/dev_server_runner_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Document partial config shape guard
  package/utils/typeGuards.ts
Due: js-lint, check-trailing-newlines, jest-affected

Disallow compile watch flags
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/configuration_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Reject managed compile flags
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/configuration_spec.rb
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Tighten compile flag edge cases
  lib/shakapacker/compiler.rb
  lib/shakapacker/configuration.rb
  lib/shakapacker/runner.rb
  package/utils/typeGuards.ts
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  test/typescript/build.test.js
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Address compile flag review findings
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address final compile flag review notes
  lib/install/config/shakapacker.yml
  lib/shakapacker/dev_server_runner.rb
  package/utils/typeGuards.ts
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Reuse webpack runner extension
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Document agent workflow seam and trust
  .agents/bin/README.md
  .agents/trusted-github-actors.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Clarify agent workflow trust metadata
  .agents/agent-workflow.yml
  .agents/trusted-github-actors.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Use metadata-only trust for workflow bots
  .agents/trusted-github-actors.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Clarify ShakaPacker merge gate seam
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Align agent workflow compatibility policy
  .agents/agent-workflow.yml
  .agents/trusted-github-actors.yml
Due: prettier-format, check-trailing-newlines

[codex] Document agent workflow seam and trust (#1182)
  .agents/agent-workflow.yml
  .agents/bin/README.md
  .agents/trusted-github-actors.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Add compile flags config and tighten CLI flag handling (#1180)
  .agents/bin/README.md
  CHANGELOG.md
  docs/api-reference.md
  docs/configuration.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/compiler.rb
  lib/shakapacker/configuration.rb
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  package/types.ts
  package/utils/typeGuards.ts
  sig/shakapacker/configuration.rbs
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/shared/help_and_version_examples.rb
  spec/shakapacker/webpack_runner_spec.rb
  test/typescript/build.test.js
  test/typescript/securityValidation.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected
