Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

docs: prettier --write three docs files to unblock CI (#1118)
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  docs/v9_upgrade.md
Due: prettier-format, check-trailing-newlines

Address rspack sass loader review comments
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address rspack review cleanup comments
  package/rules/rspack.ts
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Allow rspack Sass rule with sass-loader only
  package/rules/rspack.ts
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add CHANGELOG entry and negative rspack sass-loader test
  CHANGELOG.md
  test/package/rspack/rules.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Update CHANGELOG.md for v10.1.0-rc.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.1.0-rc.0 (#1119)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.1.0-rc.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy Gemfile.lock for shakapacker 10.1.0-rc.0
  spec/dummy/Gemfile.lock
Due: none

Update spec/dummy Gemfile.lock for shakapacker 10.1.0-rc.0 (#1121)
  spec/dummy/Gemfile.lock
Due: none

Gitignore Claude Code ScheduleWakeup runtime lock
  .gitignore
Due: none

Gitignore Claude Code ScheduleWakeup runtime lock (#1122)
  .gitignore
Due: none

CHANGELOG: fill in PR number for check_node fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix check_node misreporting Node as missing in published gem
  CHANGELOG.md
  lib/tasks/shakapacker/check_node.rake
  shakapacker.gemspec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix shakapacker:check_node misreporting Node as missing in published gem (#1120)
  CHANGELOG.md
  lib/tasks/shakapacker/check_node.rake
  shakapacker.gemspec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Hoist helpers in rspack negative sass-loader test
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

[codex] Allow Rspack Sass rule with sass-loader only (#1105)
  CHANGELOG.md
  package/rules/rspack.ts
  test/package/rspack/rules.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

fix: default static to false and fix YAML static: false passthrough
  lib/install/config/shakapacker.yml
  package/webpackDevServerConfig.ts
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

test: add tests for webpackDevServerConfig static handling
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: pass through all YAML static values instead of silently dropping them
  package/webpackDevServerConfig.ts
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: add string passthrough test for static config
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix: distinguish array static values from objects for honest TypeScript cast
  package/webpackDevServerConfig.ts
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: update changelog with PR number
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

fix: widen static type to match webpack-dev-server API, handle null
  package/webpackDevServerConfig.ts
Due: js-lint, check-trailing-newlines, jest-affected

docs: add changelog entry for static config fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

style: fix Prettier formatting in test file
  test/package/webpackDevServerConfig.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR 1104 binstub review comments
  lib/tasks/shakapacker/export_bundler_config.rake
  package/bin/diff-bundler-config.cjs
  package/configExporter/cli.ts
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Restore package-scoped diff helper resolution
  package/bin/diff-bundler-config.cjs
Due: none

Address ESM binstub review comments
  package/configExporter/cli.ts
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Fix ESM-safe config helper binstubs
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/tasks/shakapacker/export_bundler_config.rake
  package.json
  package/bin/diff-bundler-config.cjs
  package/bin/shakapacker-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Address binstub review edge cases
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/bin/diff-bundler-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

docs: move CHANGELOG entry to Unreleased; test: add YAML null case
  CHANGELOG.md
  test/package/webpackDevServerConfig.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Allow shakapacker-config binstubs to diverge between bin/ and lib/install/bin/
  spec/shakapacker/binstub_sync_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address PR 1104 review feedback
  CHANGELOG.md
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/tasks/shakapacker/export_bundler_config.rake
  package/bin/diff-bundler-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

[codex] Fix ESM-safe config helper binstubs (#1104)
  CHANGELOG.md
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/tasks/shakapacker/export_bundler_config.rake
  package.json
  package/bin/diff-bundler-config.cjs
  package/bin/shakapacker-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Fix webpack-dev-server static config: default to false, fix YAML passthrough (#1032)
  CHANGELOG.md
  lib/install/config/shakapacker.yml
  package/webpackDevServerConfig.ts
  test/package/webpackDevServerConfig.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Update CHANGELOG.md for v10.1.0-rc.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Drop PR #1120 entry from v10.1.0-rc.1 changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.1.0-rc.1 (#1124)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Teach /update-changelog to drop RC-only regression fixes
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
