Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Refine sync_github_release review follow-ups
  rakelib/release.rake
Due: none

Address latest sync review pass
  rakelib/release.rake
Due: none

Address latest Claude review threads
  rakelib/release.rake
Due: none

Harden release reminder version fallback
  rakelib/release.rake
Due: none

Adjust sync_github_release guidance timing
  rakelib/release.rake
Due: none

Document update_changelog step before sync
  docs/releasing.md
Due: prettier-format, check-trailing-newlines

Warn on dirty changelog in sync dry-runs
  rakelib/release.rake
Due: none

Avoid stale checkout fallback in sync reminder
  rakelib/release.rake
Due: none

Clarify dry-run changelog validation output
  rakelib/release.rake
Due: none

Handle git command nil result in tag verification
  rakelib/release.rake
Due: none

Align sync dry-run checks with real run behavior
  rakelib/release.rake
Due: none

Add release version policy validation with override
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Default create_prerelease type to rc
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Relax changelog requirement for create_release policy
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Add confirmation for auto patch version bumps
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Refine release policy heuristics and sync preflight
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Harden gh auth checks and streamline version policy flow
  rakelib/release.rake
Due: none

Fix RuboCop collection literal offense in install env spec
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify prerelease skip and guard gh view nil case
  rakelib/release.rake
Due: none

Refine prerelease policy and sync safety prompts
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Normalize installer truthy env checks for remaining flags (#943)
  lib/install/template.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Expand changelog bump category mapping and clarify sync prompt
  rakelib/release.rake
Due: none

Relax removed-category inference and simplify sync prompt
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Add gemspec spec tests and CHANGELOG entry for Gemfile.lock exclusion
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Apply latest sync release review suggestions
  rakelib/release.rake
Due: none

Migrate remaining backtick checks to Open3
  rakelib/release.rake
Due: none

Validate release tag in sync dry-run path
  rakelib/release.rake
Due: none

Document SKIP_GITHUB_RELEASE migration and sync checks
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Continue version policy checks after monotonic override
  rakelib/release.rake
Due: none

Handle missing npm binary in release preflight
  rakelib/release.rake
Due: none

Clarify none-bump override path and tidy changelog check
  rakelib/release.rake
Due: none

Clarify same-base prerelease skip comment
  rakelib/release.rake
Due: none

Improve changelog heading aliases and sync advisory
  rakelib/release.rake
Due: none

Clarify gh CLI is required only for sync step
  docs/releasing.md
Due: prettier-format, check-trailing-newlines

Avoid inferring patch bump from broad Changed heading
  rakelib/release.rake
Due: none

Remove remaining backtick tag query and redundant fetch
  rakelib/release.rake
Due: none

Add gemspec spec tests for Gemfile.lock exclusion (#856) (#949)
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Clarify versioned changelog section vs UNRELEASED
  docs/releasing.md
Due: prettier-format, check-trailing-newlines

Split GitHub release sync from publish tasks (#948)
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Print npm version and dist-tag before publish prompt
  rakelib/release.rake
Due: none
