Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Address CodeRabbit review comments for rspack tests
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Require explicit truthy values for SKIP and FORCE env vars (#926)
  CHANGELOG.md
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address PR review feedback for rspack unit tests
  test/package/rspack/index.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Make rspack plugin tests path-agnostic
  test/package/rspack/plugins.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Supersede #898: hidden entrypoint ignore fix (#915)
  CHANGELOG.md
  package/environments/base.ts
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden.js
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden_dir/hidden_nested.js
  test/package/environments/base.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address bot follow-up review notes for rspack tests
  test/package/rspack/index.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Export bundler utility functions for Webpack/Rspack compatibility
  eslint.config.js
  package/index.ts
  package/rspack/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add changelog entry for bundler utilities
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add type definitions for bundler utilities
  package/types/index.ts
  package/utils/bundlerUtils.ts
Due: js-lint, check-trailing-newlines, jest-affected

Fix PR reference and add bundler utility type declarations
  package/index.d.ts
  package/index.d.ts.template
Due: js-lint, check-trailing-newlines, jest-affected

Address review feedback: revert asset type and remove unused permission
  .github/workflows/claude-code-review.yml
  package/rules/file.ts
  test/package/rules/file.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address review feedback on bundler utilities
  package/rspack/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.rspack.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Supersede #913: bundler utility exports with lint unblock (#922)
  .github/workflows/claude-code-review.yml
  CHANGELOG.md
  eslint.config.js
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  package/rules/file.ts
  package/types/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.rspack.test.js
  test/package/bundlerUtils.test.js
  test/package/rules/file.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Release 9.6.0-rc.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy lockfiles after release
  spec/dummy/Gemfile.lock
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Use jest.fn for moduleExists mock in rspack index tests
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Update changelog for 9.6.0-rc.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update changelog to make v9.6.0-rc.0 latest (#942)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add comprehensive Jest unit tests for rspack support (#846)
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Normalize installer truthy env checks (#941)
  lib/install/template.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add missing changelog entries for PRs #891 and #901
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add missing changelog entries for PRs #891 and #901 (#944)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add GitHub release publishing and prerelease helper
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Fix claude-review workflow OIDC permissions
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Revert "Fix claude-review workflow OIDC permissions"
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude review OIDC permissions
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude review OIDC permission (#946)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Address release task review feedback
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Tighten release task preflight checks
  rakelib/release.rake
Due: none

Refine release task review fixes
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Tighten release task edge cases
  rakelib/release.rake
Due: none

Clarify release task intent
  rakelib/release.rake
Due: none

Strengthen release task preflight checks
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Restore rake task Ruby compatibility
  rakelib/release.rake
Due: none

Enhance release task with GitHub releases and auto prerelease helper (#945)
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Split GitHub release sync from publish flow
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Address review feedback on release flow
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Tighten sync_github_release safety checks
  rakelib/release.rake
Due: none
