Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Release 9.6.0-rc.1
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Enhance changelog command and auto-sync GitHub releases
  .claude/commands/update-changelog.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Update releasing docs to reflect changelog-first workflow
  docs/releasing.md
Due: prettier-format, check-trailing-newlines

Fix dry-run crash in sync_github_release_after_publish
  rakelib/release.rake
Due: none

Enhance changelog & auto-sync GitHub releases (#950)
  .claude/commands/update-changelog.md
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Collapse v9.6.0-rc.0 into v9.6.0-rc.1 and make collapse default for prelease updates
  .claude/commands/update-changelog.md
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Collapse v9.6.0-rc.0 into v9.6.0-rc.1 and make collapse default (#952)
  .claude/commands/update-changelog.md
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Unify release workflow: remove create_prerelease, rely on create_release
  docs/releasing.md
  lib/shakapacker/utils/version_syntax_converter.rb
  rakelib/release.rake
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy Gemfile.lock for v9.6.0-rc.1
  spec/dummy/Gemfile.lock
Due: none

Update spec/dummy Gemfile.lock for v9.6.0-rc.1 (#953)
  docs/releasing.md
  lib/shakapacker/utils/version_syntax_converter.rb
  rakelib/release.rake
  spec/dummy/Gemfile.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Print npm version and dist-tag before publish prompt (#951)
  rakelib/release.rake
Due: none

Stamp v9.6.0-rc.2 release
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Stamp v9.6.0-rc.2 release (#954)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 9.6.0-rc.2
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Exclude .gem files from git and gemspec files list
  .gitignore
  shakapacker.gemspec
Due: none

Stamp v9.6.0-rc.3 and update spec/dummy lockfile
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  spec/dummy/Gemfile.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Revert version bump to rc.2 — release script handles versioning
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  spec/dummy/Gemfile.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Exclude .gem files from git and gemspec files list (#955)
  .gitignore
  shakapacker.gemspec
  spec/dummy/Gemfile.lock
Due: none

Bump release candidate to v9.6.0-rc.3
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 9.6.0-rc.3
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy lockfiles to fix stale peer dependency warnings
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Promote changelog from v9.6.0-rc.3 to v9.6.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update spec/dummy Gemfile.lock to v9.6.0.rc.3
  spec/dummy/Gemfile.lock
Due: none

Update spec/dummy lockfiles to fix stale peer dependency warnings (#956)
  CHANGELOG.md
  spec/dummy/Gemfile.lock
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Release 9.6.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix release script: update spec/dummy lockfile before release-it
  rakelib/release.rake
  spec/dummy/Gemfile.lock
Due: none

Update bundler from 2.5.23 to 4.0.7
  Gemfile.lock
  spec/dummy/Gemfile.lock
Due: none

Add address-review command for fetching GitHub PR review comments
  .claude/commands/address-review.md
Due: prettier-format, check-trailing-newlines

Add address-review command (#959)
  .claude/commands/address-review.md
Due: prettier-format, check-trailing-newlines

Restore spec/dummy JS lockfile refresh
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Fix release script: update spec/dummy lockfile before release-it (#957)
  docs/releasing.md
  rakelib/release.rake
  spec/dummy/Gemfile.lock
Due: prettier-format, check-trailing-newlines

Keep bundler lockfiles on 2.5.23
  Gemfile.lock
  spec/dummy/Gemfile.lock
Due: none

Add Node package API documentation (#900)
  README.md
  docs/node_package_api.md
Due: prettier-format, check-trailing-newlines

Add defined?(Rails) guard to Env#current and fallback_env_warning
  lib/shakapacker/env.rb
  spec/shakapacker/env_without_rails_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Default to Shakapacker::DEFAULT_ENV and guard fallback_env_warning logger
  lib/shakapacker/env.rb
  spec/shakapacker/env_without_rails_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address review feedback: hide_const, .presence consistency, warning test
  lib/shakapacker/env.rb
  spec/shakapacker/env_without_rails_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix StringInquirer return type and RuboCop indentation
  lib/shakapacker/env.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Use DEFAULT_ENV in fallback_env_warning for consistency with current
  lib/shakapacker/env.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Env#current Rails.env call without defined?(Rails) guard (#963)
  lib/shakapacker/env.rb
  spec/shakapacker/env_without_rails_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
