Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

fix: add privateOutputPath computed property to JS config (#890)
  package/config.ts
  package/types.ts
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Expand precompile hook guidance and alternatives
  docs/precompile_hook.md
Due: prettier-format, check-trailing-newlines

Ignore hidden entrypoint files and directories
  package/environments/base.ts
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden.js
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden_dir/hidden_nested.js
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Keep installer dependency value in sync with requested source
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Document Node package exports and config object
  README.md
  docs/node_package_api.md
Due: prettier-format, check-trailing-newlines

Switch default file rule to webpack asset module
  package/rules/file.ts
  test/package/rules/file.test.js
Due: js-lint, check-trailing-newlines, jest-affected

style: fix prettier formatting in config test
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: add negative test for privateOutputPath when not configured
  test/package/config.test.js
Due: js-lint, check-trailing-newlines, jest-affected

chore: format workflow yaml with prettier
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

refactor: remove remaining call_count patterns in compiler spec
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: validate all-builds save-dir and annotate format
  package/configExporter/cli.ts
  test/package/configExporter.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: assert entry value shapes for type narrowing
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

chore: move build tooling to runtime dependencies
  package.json
Due: prettier-format, check-trailing-newlines

test: use strict equality matcher for entry shape assertion
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add comprehensive unit tests for rspack exports
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add changelog entry for bundler utilities
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Export bundler utility functions for Webpack/Rspack compatibility
  eslint.config.js
  package/index.ts
  package/rspack/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add type definitions for bundler utilities
  package/types/index.ts
  package/utils/bundlerUtils.ts
Due: js-lint, check-trailing-newlines, jest-affected

chore: ignore claude workflow files in prettier check
  .prettierignore
Due: none

chore: fix wording in prettier ignore comment
  .prettierignore
Due: none

Fix privateOutputPath in JS config and blank check in Ruby
  .prettierignore
  lib/shakapacker/configuration.rb
  package/config.ts
  package/types.ts
  spec/shakapacker/configuration_spec.rb
  test/package/config.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Fix privateOutputPath in JS config and blank check in Ruby
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

fix: add privateOutputPath computed property to JS config (#891)
  .prettierignore
  lib/shakapacker/configuration.rb
  package/config.ts
  package/types.ts
  spec/shakapacker/configuration_spec.rb
  test/package/config.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Fix orphaned webpack/rspack processes when running under foreman
  CHANGELOG.md
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add github PR link to changelog
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Set up SIGTERM trap before spawning child process
  lib/shakapacker/runner.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected
