Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Update dummy lockfile for Shakapacker version
  spec/dummy/Gemfile.lock
Due: none

Handle exec permission errors in helper binstubs
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

[codex] Delegate helper binstub Node resolution to exec (#1200)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/Gemfile.lock
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Document and harden helper binstub PATH fix
  CHANGELOG.md
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

[codex] Document and harden helper binstub PATH fix (#1201)
  CHANGELOG.md
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Fix Claude OAuth token env for Actions: claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Fix Claude OAuth token env for Actions: claude.yml
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Fix Claude OAuth token env for Actions (#1202)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Fallback to Babel for implicit SWC webpack configs
  CHANGELOG.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/doctor.rb
  package/config.ts
  package/env.ts
  package/utils/helpers.ts
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/doctor_spec.rb
  test/package/config.test.js
  test/package/helpers.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

feat: install `webpack-dev-server` v6
  lib/install/package.json
Due: prettier-format, check-trailing-newlines

docs: update `peer-dependencies`
  docs/peer-dependencies.md
Due: prettier-format, check-trailing-newlines

fix: allow `webpack-dev-server` v6
  docs/dependency-strategy.md
  package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

docs: add changelog entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

fix: allow `webpack-dev-server` v6 (#1102)
  CHANGELOG.md
  docs/dependency-strategy.md
  docs/peer-dependencies.md
  lib/install/package.json
  package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

Fallback to Babel for implicit SWC webpack configs (#1206)
  CHANGELOG.md
  lib/install/config/shakapacker.yml
  lib/shakapacker/configuration.rb
  lib/shakapacker/doctor.rb
  package/config.ts
  package/env.ts
  package/utils/helpers.ts
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/doctor_spec.rb
  test/package/config.test.js
  test/package/helpers.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Add v10 upgrade guide
  CHANGELOG.md
  README.md
  docs/common-upgrades.md
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

Add v10 upgrade guide (#1208)
  CHANGELOG.md
  README.md
  docs/common-upgrades.md
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

Warn for Rspack React Refresh v2 constructor configs
  CHANGELOG.md
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update changelog for v10.2.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update changelog for v10.2.1 (#1210)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Bump version to v10.3.0 in CHANGELOG.md
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.3.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Warn for Rspack React Refresh v2 constructor configs (#1207)
  CHANGELOG.md
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

docs: add css-loader to rspack upgrade commands
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

docs: add css-loader to v10 Rspack upgrade commands (#1211)
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

Resolve Babel 8 migration follow-ups
  docs/customizing_babel_config.md
  package/rules/babel.ts
  spec/dummy/Gemfile.lock
  test/package/rules/babel.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Resolve Babel 8 migration follow-ups (#1212)
  docs/customizing_babel_config.md
  package/rules/babel.ts
  spec/dummy/Gemfile.lock
  test/package/rules/babel.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add merge readiness replay helper
  .agents/bin/README.md
  .agents/bin/merge-readiness-check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ruby.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Add merge readiness replay helper (#1213)
  .agents/bin/README.md
  .agents/bin/merge-readiness-check
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ruby.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Add Babel 8 preset smoke
  .github/workflows/babel8-smoke.yml
  .github/workflows/node.yml
  test/packages/babel8-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Format agent bin README
  .agents/bin/README.md
Due: prettier-format, check-trailing-newlines

Document Babel 8 smoke scope
  test/packages/babel8-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Clarify Babel 8 smoke coverage
  .github/workflows/babel8-smoke.yml
  test/packages/babel8-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add Babel 8 preset smoke (#1214)
  .agents/bin/README.md
  .github/workflows/babel8-smoke.yml
  .github/workflows/node.yml
  test/packages/babel8-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Harden Claude workflow permission gate
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Harden Claude workflow permission gate (#1216)
  .github/workflows/claude.yml
Due: prettier-format, check-trailing-newlines

Add security policy
  SECURITY.md
Due: prettier-format, check-trailing-newlines

Add security policy (#1215)
  SECURITY.md
Due: prettier-format, check-trailing-newlines

Fix agent workflow seam pointer
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Fix .cjs transpiler rule matching
  CHANGELOG.md
  package/rules/babel.ts
  package/rules/esbuild.ts
  package/rules/swc.ts
  test/package/rules/babel.test.js
  test/package/rules/esbuild.test.js
  test/package/rules/swc.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
