Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Drop AGENTS.md from PR
  AGENTS.md
Due: prettier-format, check-trailing-newlines

docs: fix Dependabot options reference link and YAML formatting
  docs/common-upgrades.md
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

Address second-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

docs: clarify how to add non-grouped Dependabot entries
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

Share local path regex in version checks
  lib/shakapacker/version_checker.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Note lockfile coverage in yalc regression test
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Prefer package.json for local path shakapacker versions
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten local path detection in version checks
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address review: CHANGELOG + devDependencies fallback test
  CHANGELOG.md
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

docs: clarify that grouped updates inherit schedule from the group
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

Address third-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

Address review polish on local-path version checks
  lib/shakapacker/version_checker.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Update docs/dependabot.md
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

docs: add Dependabot configuration guide (#1094)
  README.md
  docs/common-upgrades.md
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

Address review polish on local-path version checks
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address fourth-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  package.json
  packages/shakapacker-rspack/index.js
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Align supplemental dev server peer floor
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

[codex] Fix local-path shakapacker version checks (#1086)
  CHANGELOG.md
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Bump Node to 22.13.0 for @rspack/core engine compatibility
  .node-version
  conductor-setup.sh
Due: none

Align engines.node and conductor setup with @rspack/core v2
  CHANGELOG.md
  conductor-setup.sh
  package.json
Due: prettier-format, check-trailing-newlines

Switch test app to rspack/swc and run gem specs in conductor
  conductor.json
  spec/shakapacker/test_app/config/shakapacker.yml
Due: prettier-format, check-trailing-newlines

Reject Node 21.x and 22.0–22.11 in setup preflight
  CHANGELOG.md
  conductor-setup.sh
Due: prettier-format, check-trailing-newlines

Keep test fixture on default webpack bundler
  spec/shakapacker/test_app/config/shakapacker.yml
Due: prettier-format, check-trailing-newlines

Restore full Conductor test command
  conductor.json
Due: prettier-format, check-trailing-newlines

Detect single-dot local shakapacker paths
  lib/shakapacker/version_checker.rb
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Document engines.node tightening as a breaking change
  CHANGELOG.md
  conductor-setup.sh
Due: prettier-format, check-trailing-newlines

Address fifth-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/index.js
  scripts/publish-packages.sh
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Rewrite transpiler performance guide qualitatively
  docs/configuration.md
  docs/transpiler-performance.md
Due: prettier-format, check-trailing-newlines

Address sixth-round PR review feedback on Phase 1 packages
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
Due: prettier-format, check-trailing-newlines

Reduce packaged gem files
  shakapacker.gemspec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Harden release task failure handling
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Pin CI Node to 20.19.x and harden version parsing
  .github/workflows/dummy.yml
  .github/workflows/eslint-validation.yml
  .github/workflows/generator.yml
  .github/workflows/node.yml
  .github/workflows/ruby.yml
  .github/workflows/test-bundlers.yml
  conductor-setup.sh
Due: prettier-format, check-trailing-newlines

Address seventh-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/LICENSE
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/LICENSE
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
Due: prettier-format, check-trailing-newlines

Address optional PR review feedback on shakapacker-webpack/index.js
  packages/shakapacker-webpack/index.js
Due: js-lint, check-trailing-newlines, jest-affected

Bump Node to 22.20.0 and address round-4 review nits
  .github/workflows/node.yml
  .node-version
  CHANGELOG.md
  conductor-setup.sh
Due: prettier-format, check-trailing-newlines

Pin supplemental package dependencies
  .node-version
  docs/rfcs/0001-tighten-dependencies-v11.md
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

Reject empty npm publish tag
  scripts/publish-packages.sh
Due: none

Align Node engine with @rspack/core v2 (breaking) (#1099)
  .github/workflows/dummy.yml
  .github/workflows/eslint-validation.yml
  .github/workflows/generator.yml
  .github/workflows/node.yml
  .github/workflows/ruby.yml
  .github/workflows/test-bundlers.yml
  .node-version
  CHANGELOG.md
  conductor-setup.sh
  package.json
Due: prettier-format, check-trailing-newlines

Finish rspack env merge coverage
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix rspack environment config merge
  CHANGELOG.md
  package/rspack/index.ts
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected
