Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Document rspack 2.2 user-facing changes: SWC Wasm plugin break, rspackPublicPath, compat-hashed (#1257)
  docs/cdn_setup.md
  docs/rspack.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Make AGENTS.md canonical for shared agent guidance (#1244)
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/open-source.md
  .claude/rules/testing.md
  AGENTS.md
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Trigger Node checks on markdown-only pull requests
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

Trigger Node based checks on markdown-only pull requests (#1266)
  .github/workflows/node.yml
Due: prettier-format, check-trailing-newlines

Tell the truth about the ignored legacy bundler: config key
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add CHANGELOG entry for the ignored bundler: key fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Document how to override builtin:swc-loader options on Rspack
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Fix inaccurate explanation of test: "match" in the Rspack SWC recipe
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Document how to override builtin:swc-loader options on Rspack (#1267)
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Pin the resolution change with mutation-proof regression specs
  CHANGELOG.md
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Isolate the assets_bundler specs from an ambient env override
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix the misleading deprecation warning for the ignored legacy bundler key (#1270)
  CHANGELOG.md
  lib/shakapacker/configuration.rb
  spec/shakapacker/configuration_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review findings on the Rspack SWC config warning
  CHANGELOG.md
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add CHANGELOG entry for Rspack SWC config warning coverage
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Warn Rspack apps about unread SWC config files for any transpiler
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Warn Rspack apps that SWC config files are unread for any javascript_transpiler (#1269)
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Tell Rspack apps that .swcrc is ignored outright
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Point the changelog entry at PR #1276
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Tell Rspack apps that .swcrc is ignored outright, not just unmigratable (#1276)
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update changelog for 10.3.2
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Advance the Unreleased compare base to v10.3.2
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update changelog for 10.3.2 (#1278)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.3.2
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  spec/dummy/Gemfile.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Tell agents to install node dependencies before any JS-backed command
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Tell agents to install node dependencies before any JS-backed command (#1280)
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Gate .swcrc override claims by bundler in docs (#1277)
  docs/common-upgrades.md
  docs/transpiler-migration.md
  docs/transpiler-performance.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Give the release dry-run worktree a symbolic HEAD
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix review findings: webpack/Rspack contradiction and unconditional config steps (#1277)
  docs/common-upgrades.md
  docs/transpiler-migration.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Make dry-run worktree creation idempotent with git worktree add -B
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Gate .swcrc override claims by bundler in docs (#1283)
  docs/common-upgrades.md
  docs/transpiler-migration.md
  docs/transpiler-performance.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Make dry-run worktree recovery collision-proof and cleanup independent
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Give the release dry-run worktree a symbolic HEAD (#1284)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fail the release preflight when node_modules is missing
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Verify the install matches package.json, not just that binaries exist
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Re-verify node dependencies after the rebase, and fail cleanly on unreadable files
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fail the release preflight when node_modules is missing (#1286)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Check the installed tree, not just yarn's record of what it requested
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Abort cleanly when a package.json dependency section is malformed
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Read CHANGELOG.md as UTF-8 in the release task
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Bump rspack dev pin from 2.2.0 to 2.2.1
  package.json
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
  yarn.lock
Due: prettier-format, check-trailing-newlines

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
