Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Require executed jobs for fork CI
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Test fork workflow approval gate
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Scope merged fork runs to pull request
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix fork merge readiness evidence (#1245)
  .agents/bin/merge-readiness-check
  .agents/bin/merge-readiness-check-test.rb
  .agents/bin/validate
  .github/workflows/ruby.yml
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Unbundle release-root lockfile refresh
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Correct stale version and package ranges in upgrade docs (#1239)
  docs/common-upgrades.md
  docs/v10_upgrade.md
Due: prettier-format, check-trailing-newlines

Fail closed when PATH is unset (#1240)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Make the Babel 8 smoke prove preset transformation (#1241)
  test/packages/babel8-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: correct changelog PATH-fix and manifest-pin accuracy
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix release task never updating spec/dummy/Gemfile.lock (#1232)
  lib/shakapacker/utils/misc.rb
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address current release gate review findings
  docs/releasing.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden dry-run release diagnostics
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Block rake release when CI is not green (#1230)
  Rakefile
  docs/releasing.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Preserve release recovery output after publish failure
  CHANGELOG.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Handle broader post-publish release failures
  CHANGELOG.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Preserve release recovery output after publish failure (#1250)
  CHANGELOG.md
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

docs: correct v10 changelog accuracy
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: clarify changelog PATH history
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: correct changelog PATH and manifest range claims (#1251)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Lint the extensionless merge-readiness helper (#1242)
  .rubocop.yml
Due: prettier-format, check-trailing-newlines

Fix RuboCop spacing in version checker spec
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Restore RuboCop 1.90 compatibility on main (#1254)
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Document rspack 2.2 breaking/opt-in changes for Shakapacker users
  docs/cdn_setup.md
  docs/rspack.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Bump rspack dev pin to 2.2.0 and correct moduleIds/chunkIds docs
  CHANGELOG.md
  package.json
  package/configExporter/configDocs.ts
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR #1257 review findings on rspack 2.2 docs
  docs/cdn_setup.md
  docs/rspack.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Reference PR #1258 in the rspack 2.2.0 changelog entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix two more version-claim accuracy issues from PR #1257 review
  docs/cdn_setup.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Fix config-file attribution for Rspack Wasm plugins
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Qualify the Rspack pin-back workaround for exact swc_core matching
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Fix webpack/rspack swc_core split and give a working Rspack override path
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Correct swc_core compatibility model and fix four more verified issues
  docs/cdn_setup.md
  docs/rspack.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Cover both built-in Rspack rules in the mergeWithRules example
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Remove incorrect CSS coverage claim from runtime public-path scope note
  docs/cdn_setup.md
Due: prettier-format, check-trailing-newlines

Gate SWC config messaging on assets_bundler
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  lib/shakapacker/swc_migrator.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Substitute real PR number in changelog entry
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Resolve the bundler through Shakapacker's own config, fix rspack guidance
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  lib/shakapacker/swc_migrator.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Make the Rspack SWC override example correct as written
  lib/shakapacker/doctor.rb
  lib/shakapacker/swc_migrator.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix Doctor's Rspack SWC hint wording and stop repeating it
  lib/shakapacker/doctor.rb
  lib/shakapacker/swc_migrator.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Gate SWC config messaging on assets_bundler (#1260)
  CHANGELOG.md
  lib/shakapacker/doctor.rb
  lib/shakapacker/swc_migrator.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/swc_migrator_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Bump rspack dev pin from 2.0.1 to 2.2.0 and correct moduleIds/chunkIds config docs (#1258)
  CHANGELOG.md
  package.json
  package/configExporter/configDocs.ts
  spec/dummy/package-lock.json
  spec/dummy/yarn.lock
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
