Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Address review feedback: fix dead code, knip, binstub UX, npx exit codes, version drift
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix CI by restoring dependency install steps
  .github/workflows/test-bundlers.yml
  Rakefile
Due: prettier-format, check-trailing-newlines

Fix CI lockfile refresh after yalc add
  .github/workflows/test-bundlers.yml
  Rakefile
Due: prettier-format, check-trailing-newlines

Make pack-config-diff a required dependency
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  package.json
Due: prettier-format, check-trailing-newlines

Fix knip detection for pack-config-diff usage
  bin/diff-bundler-config
  knip.ts
  lib/install/bin/diff-bundler-config
Due: js-lint, check-trailing-newlines, jest-affected

Address review feedback: CI guard, binstub sync, shared constants, optionalDeps
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  package.json
  spec/shakapacker/binstub_sync_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Fix Prettier formatting in diff-bundler-config binstubs
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
Due: none

Normalize exit codes in direct run path, fix Rakefile package manager
  Rakefile
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
Due: none

Fix GEM_ROOT constant collision in binstub_sync_spec.rb
  spec/shakapacker/binstub_sync_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Move pack-config-diff from optionalDependencies to dependencies
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  package.json
Due: prettier-format, check-trailing-newlines

Resolve pack-config-diff via shakapacker's dependency tree
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
Due: none

Update CHANGELOG.md for v10.0.0-rc.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Link bare #961 reference in CHANGELOG.md
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.0.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: refresh README/docs references for Shakapacker v10
  README.md
  docs/common-upgrades.md
  docs/css-modules-export-mode.md
  docs/optional-peer-dependencies.md
  docs/react.md
  docs/releasing.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/troubleshooting.md
  docs/typescript-migration.md
  docs/typescript.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

docs: fix v9 attribution details in upgrade guides
  docs/common-upgrades.md
  docs/css-modules-export-mode.md
  docs/optional-peer-dependencies.md
  docs/typescript-migration.md
Due: prettier-format, check-trailing-newlines

docs: clarify v9+ provenance in migration wording
  docs/css-modules-export-mode.md
  docs/optional-peer-dependencies.md
  docs/transpiler-migration.md
Due: prettier-format, check-trailing-newlines

Revise RFC to adopt supplemental packages approach
  docs/rfcs/0001-tighten-dependencies-v17.md
Due: prettier-format, check-trailing-newlines

docs: apply final review wording improvements
  README.md
  docs/optional-peer-dependencies.md
  docs/rspack_migration_guide.md
Due: prettier-format, check-trailing-newlines

docs: align v9+ context across SWC and troubleshooting guides
  docs/react.md
  docs/troubleshooting.md
  docs/using_swc_loader.md
Due: prettier-format, check-trailing-newlines

Use unscoped package names shakapacker-webpack/shakapacker-rspack
  docs/rfcs/0001-tighten-dependencies-v17.md
Due: prettier-format, check-trailing-newlines

docs: keep troubleshooting versions aligned and clarify v9+ defaults
  docs/transpiler-migration.md
  docs/troubleshooting.md
Due: prettier-format, check-trailing-newlines

Add monorepo structure and lockstep versioning strategy to RFC
  docs/rfcs/0001-tighten-dependencies-v17.md
Due: prettier-format, check-trailing-newlines

docs: fix invalid JSON and tighten version constraints in troubleshooting
  docs/troubleshooting.md
Due: prettier-format, check-trailing-newlines

Revise RFC: phased rollout v10.1/v11, all packages under packages/
  docs/rfcs/0001-tighten-dependencies-v17.md
Due: prettier-format, check-trailing-newlines

docs: add Dependabot configuration guide
  README.md
  docs/common-upgrades.md
  docs/dependabot.md
Due: prettier-format, check-trailing-newlines

chore: widen @rspack/plugin-react-refresh peer dep to accept v2
  docs/rspack.md
  package.json
Due: prettier-format, check-trailing-newlines

fix: make rspack v2 installs self-consistent
  README.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/rspack.md
  lib/install/package.json
Due: prettier-format, check-trailing-newlines

docs: add CHANGELOG entry for Rspack v2 peer/installer changes
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Implement Phase 1 supplemental packages (shakapacker-webpack/rspack)
  docs/rfcs/0001-tighten-dependencies-v17.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR review feedback on Phase 1 supplemental packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Sync address-review prompt with upstream PR #16
  AGENTS.md
  prompts/address-review.md
Due: prettier-format, check-trailing-newlines

test: use strict equality matcher for entry shape assertion
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

test: assert entry value shapes for type narrowing
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix prettier formatting in base environment tests
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Strengthen entry-shape test without looped expects
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Harden entry-shape assertion in base environment test
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Remove tautological entry-shape test assertion
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Improve entry-shape test diagnostics and remove fixture coupling
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
