Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Fix: prettier formatting for configuration.md
  docs/configuration.md
Due: prettier-format, check-trailing-newlines

Add SHAKAPACKER_PUBLIC_* prefix convention for client-side env vars
  CHANGELOG.md
  docs/configuration.md
  package/plugins/envFilter.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add test to verify SHAKAPACKER_PUBLIC_ prefix prevents system var exposure
  test/package/plugins/envFiltering.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Deduplicate allowed env vars list
  package/plugins/envFilter.ts
Due: js-lint, check-trailing-newlines, jest-affected

Add runtime behavioral tests for env filtering
  test/package/plugins/envFiltering.test.js
Due: js-lint, check-trailing-newlines, jest-affected

fix(security): prevent environment variable leak via EnvironmentPlugin (#857)
  CHANGELOG.md
  docs/configuration.md
  package/plugins/envFilter.ts
  package/plugins/rspack.ts
  package/plugins/webpack.ts
  test/package/plugins/envFiltering.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Improve test assertions and fix test isolation issues
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add comprehensive Jest unit tests for rspack support
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix raw file rule test to properly assert rule exists
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix EnvironmentPlugin test to match security-filtered implementation
  test/package/rspack/plugins.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix gemspec's files regexp to exclude Gemfile.lock (#856)
  shakapacker.gemspec
Due: none

Update CHANGELOG for v9.5.0 release
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG for v9.5.0 release (#861)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add comprehensive unit tests for rspack exports
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add npm auth pre-flight check to release script
  rakelib/release.rake
Due: none

Add npm auth pre-flight check to release script (#862)
  rakelib/release.rake
Due: none

Release 9.5.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Update spec/dummy lockfiles after release
  spec/dummy/Gemfile.lock
Due: none

Update Conductor config to support multiple version managers
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  conductor-setup.sh
  conductor.json
Due: prettier-format, check-trailing-newlines

Create .tool-versions if missing for asdf/mise users
  conductor-setup.sh
Due: none

Fix shebang consistency and restore strict error handling
  bin/conductor-exec
  conductor-setup.sh
Due: none

Fix misleading message about linting checks
  conductor-setup.sh
Due: none

Move mise install after .tool-versions creation
  conductor-setup.sh
Due: none

Read tool versions from project files instead of hardcoding
  conductor-setup.sh
Due: none

Update Conductor config to support multiple version managers (#867)
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  conductor-setup.sh
  conductor.json
Due: prettier-format, check-trailing-newlines

Write [Shakapacker] log messages to stderr instead of stdout
  lib/shakapacker/dev_server_runner.rb
  lib/shakapacker/runner.rb
  spec/shakapacker/rspack_runner_spec.rb
  spec/shakapacker/runner_build_config_spec.rb
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix NODE_ENV=test causing DefinePlugin warnings
  lib/shakapacker.rb
  spec/shakapacker/shakapacker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry for NODE_ENV fix (#870)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix NODE_ENV=test causing DefinePlugin warnings (#870)
  CHANGELOG.md
  lib/shakapacker.rb
  spec/shakapacker/shakapacker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add changelog entry and tests for stderr log output
  CHANGELOG.md
  spec/shakapacker/webpack_runner_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Improve error message when manifest is empty
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Differentiate empty manifest vs missing manifest file
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address CodeRabbit review comments for rspack tests
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Upgrade React on Rails from 16.1 to 16.2.1
  spec/dummy/Gemfile
  spec/dummy/Gemfile.lock
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Upgrade React on Rails to 16.2.1 (#873)
  spec/dummy/Gemfile
  spec/dummy/Gemfile.lock
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Improve rspack test quality based on review feedback
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add CDN limitation warning for Early Hints feature (#876)
  docs/early_hints.md
  lib/shakapacker/helper.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Default to modern Sass API for sass-loader
  package/rules/sass.ts
  test/package/rules/sass1.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Export bundler utility functions for Webpack/Rspack compatibility
  eslint.config.js
  package/index.ts
  package/rspack/index.ts
  package/utils/bundlerUtils.ts
  test/package/bundlerUtils.test.js
Due: js-lint, check-trailing-newlines, jest-affected
