Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Address PR #1085 review feedback for dummy rspack config and tests
  spec/dummy/config/rspack/rspack.config.js
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Finish #1085 review and dummy harness
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Make production compression plugin assertion deterministic
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix dummy rspack SSR server bundle
  spec/dummy/config/rspack/rspack.config.js
Due: js-lint, check-trailing-newlines, jest-affected

[codex] Fix local-path shakapacker version checks (#1086)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix manifest plugin constructor name in dummy rspack server config
  spec/dummy/config/rspack/rspack.config.js
Due: js-lint, check-trailing-newlines, jest-affected

Finish #1085 review and dummy harness
  .github/workflows/test-bundlers.yml
  spec/dummy/README.md
  spec/dummy/config/shakapacker-rspack.yml
  spec/dummy/config/shakapacker-webpack.yml
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix rspack environment config merge
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Address supplemental package review feedback
  docs/rfcs/0001-tighten-dependencies-v11.md
  package.json
  packages/shakapacker-rspack/LICENSE
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/LICENSE
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address eighth-round PR review feedback on Phase 1 packages
  packages/shakapacker-webpack/index.js
  scripts/publish-packages.sh
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Bump gem version to 10.1.0 to match package.json
  Gemfile.lock
  lib/shakapacker/version.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address PR #1085 round-4 review feedback
  CHANGELOG.md
  spec/dummy/config/rspack/rspack.config.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address ninth-round PR review feedback on Phase 1 packages
  CHANGELOG.md
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Document rspack dummy assumptions from PR #1085 round 5
  spec/dummy/README.md
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Soften docs performance benchmark claims
  README.md
  docs/common-upgrades.md
  docs/optional-peer-dependencies.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/transpiler-performance.md
  docs/using_swc_loader.md
  docs/v9_upgrade.md
Due: prettier-format, check-trailing-newlines

Align single-dot path version checker specs
  spec/fixtures/single_dot_path_package.json
  spec/fixtures/single_dot_path_yarn.v1.lock
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Cover install application asset in gemspec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address dependency review comments
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Restore NODE_ENV after rspack test loads
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Harden release rake helper reloads
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address transpiler docs review feedback
  docs/rspack.md
  docs/transpiler-performance.md
Due: prettier-format, check-trailing-newlines

Assert single-dot paths skip lockfile checks
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Organize gemspec test files spec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Preserve release failures during cleanup
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address remaining rspack review comments
  package/rspack/index.ts
  test/package/rspack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address package wrapper review comments
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  test/packages/shakapacker-rspack/index.test.js
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Clarify release cleanup behavior
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Polish transpiler docs wording
  docs/common-upgrades.md
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Clarify local path version fixture
  lib/shakapacker/version_checker.rb
  spec/fixtures/single_dot_path_yarn.v1.lock
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Align CHANGELOG/RFC with shipped peer-pinning policy
  CHANGELOG.md
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/package.json
Due: prettier-format, check-trailing-newlines

Address eleventh-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
  test/packages/shakapacker-rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix CI failures: prettier formatting and Gemfile.lock version sync
  docs/rfcs/0001-tighten-dependencies-v11.md
  spec/dummy/Gemfile.lock
  test/packages/shakapacker-rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address twelfth-round PR review feedback on Phase 1 packages
  CHANGELOG.md
  docs/rfcs/0001-tighten-dependencies-v11.md
  package.json
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  scripts/publish-packages.sh
  test/packages/shakapacker-rspack/index.test.js
  test/packages/shakapacker-webpack/index.test.js
  test/packages/subpath-exports.test.js
  test/packages/warning-codes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix spurious SHAKAPACKER_NO_TRANSPILER warning on config load failure
  packages/shakapacker-webpack/index.js
  test/packages/shakapacker-webpack/index.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address fourteenth-round PR review feedback on Phase 1 packages
  CHANGELOG.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-webpack/index.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address fifteenth-round PR review feedback on Phase 1 packages
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/index.js
  scripts/publish-packages.sh
  test/packages/shakapacker-webpack/index.test.js
  test/packages/warning-codes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Bundle managed-build deps into wrapper packages
  CHANGELOG.md
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/package.json
Due: prettier-format, check-trailing-newlines

Updated license
  packages/shakapacker-rspack/LICENSE
  packages/shakapacker-webpack/LICENSE
Due: none

Address PR feedback: clarify v11, flip installer default to rspack, surface v10.1 simplification
  CHANGELOG.md
  docs/rfcs/0001-tighten-dependencies-v11.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-webpack/README.md
Due: prettier-format, check-trailing-newlines

Split RFC into user-facing migration doc + design doc; add v10.1 blog post
  CHANGELOG.md
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
Due: prettier-format, check-trailing-newlines
