Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Address installation guide review follow-ups
  README.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Address installation docs review comments
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Add published installation guide
  README.md
  docs/configuration.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Address remaining Rspack doctor review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Format warning-codes test with Prettier
  test/packages/warning-codes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Used named export as suggested in the type files
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  package/environments/development.ts
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix setup script bugs found in PR review
  bin/lib/node-version-check.sh
  bin/setup
  conductor-setup.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: CHANGELOG attribution and .default export test
  CHANGELOG.md
  test/package/environments/development-rspack-react-refresh.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address PR review and CI formatting
  CHANGELOG.md
  package/environments/development.ts
  test/package/environments/development-rspack-react-refresh.test.js
  test/packages/warning-codes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address Rspack doctor round-9 review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix v-prefix bug and improve setup script portability
  bin/lib/node-version-check.sh
  conductor-setup.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Tighten rspack react-refresh plugin resolution
  package/environments/development.ts
  test/package/environments/development-rspack-react-refresh.test.js
Due: js-lint, check-trailing-newlines, jest-affected

[codex] Fix rspack react refresh plugin export (#1116)
  CHANGELOG.md
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  package/environments/development.ts
  test/package/environments/development-rspack-react-refresh.test.js
  test/packages/warning-codes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address Rspack doctor round-10 review feedback
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Harden node-version-check.sh and surface skipped zsh tests
  bin/lib/node-version-check.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: preserve supported pins, anchor regex, fix edge cases
  bin/lib/node-version-check.sh
  conductor-setup.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Sync stale .tool-versions and validate Node version in setup scripts (#1113)
  bin/lib/node-version-check.sh
  bin/setup
  conductor-setup.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix lazy base config export coverage
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Avoid package index plugin side effects
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Cache lazy base config export
  package/index.ts
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Remove redundant index side effects cleanup
  test/package/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address review: drop dead rspack requires and add side-effects test
  package/index.ts
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address PR review: extend lazy fix to rspack, docs, and polish
  CHANGELOG.md
  package/index.d.ts
  package/index.d.ts.template
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address Rspack doctor round-11 review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address installation guide review follow-ups (round 4)
  README.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Address rspack lazy export review findings
  CHANGELOG.md
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Polish lazy baseConfig review nits
  CHANGELOG.md
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add rspack rules read-only setter
  package/rspack/index.ts
  test/package/rspack/indexSideEffects.test.js
Due: js-lint, check-trailing-newlines, jest-affected

[codex] Add published installation guide (#1108)
  README.md
  docs/configuration.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Address Rspack doctor round-12 review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix prettier formatting in rspack indexTypes test
  test/package/rspack/indexTypes.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Restore cited rspack and SWC benchmarks in docs
  README.md
  docs/common-upgrades.md
  docs/configuration.md
  docs/optional-peer-dependencies.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/transpiler-performance.md
  docs/using_swc_loader.md
  docs/v9_upgrade.md
Due: prettier-format, check-trailing-newlines

ci: bump actions/create-github-app-token to v3
  .github/workflows/trigger-docs-site.yml
Due: prettier-format, check-trailing-newlines

ci: bump actions/create-github-app-token to v3 (#1117)
  .github/workflows/trigger-docs-site.yml
Due: prettier-format, check-trailing-newlines

Tighten README rspack tagline
  README.md
Due: prettier-format, check-trailing-newlines

[codex] Rewrite transpiler performance guide qualitatively (#1109)
  README.md
  docs/common-upgrades.md
  docs/configuration.md
  docs/optional-peer-dependencies.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  docs/transpiler-migration.md
  docs/transpiler-performance.md
  docs/using_swc_loader.md
  docs/v9_upgrade.md
Due: prettier-format, check-trailing-newlines

Doctor: detect disabled Rspack cache & surface doctor tip (#1100)
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review nits: symmetric lazy rules, setter traps, polished CHANGELOG
  CHANGELOG.md
  package/index.d.ts
  package/index.ts
  package/rspack/index.ts
  test/package/indexSideEffects.test.js
  test/package/rspack/indexSideEffects.test.js
  test/package/rspack/indexTypes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add readonly rules to type template
  package/index.d.ts.template
Due: none

docs: run prettier --write on three docs files to unblock CI
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  docs/v9_upgrade.md
Due: prettier-format, check-trailing-newlines
