Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Isolate doctor_spec.rb from ambient SHAKAPACKER_ASSETS_BUNDLER (#1306)
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Use built-in CSS support when css-loader is absent
  CHANGELOG.md
  docs/css_loader_deprecation.md
  lib/shakapacker/doctor.rb
  package/environments/base.ts
  package/optimization/webpack.ts
  package/rules/rspack.ts
  package/utils/getStyleRule.ts
  spec/shakapacker/css_modules_spec.rb
  spec/shakapacker/doctor_spec.rb
  test/package/environments/base-native-css.test.js
  test/package/environments/base.test.js
  test/package/rspack/rules.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Keep postcss-loader on the built-in CSS path
  CHANGELOG.md
  docs/css_loader_deprecation.md
  package/utils/getStyleRule.ts
  test/package/environments/base-native-css.test.js
  test/package/environments/base.test.js
  test/package/environments/native-css-compile.test.js
  test/package/rspack/rules.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Align doctor CSS detection with the build, and fix minifier docs
  docs/css_loader_deprecation.md
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Drop the dead null-rule branch and harden the compile test
  package/rules/rspack.ts
  package/rules/webpack.ts
  package/utils/getStyleRule.ts
  test/package/environments/native-css-compile.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix json 3 compatibility in CI
  Gemfile.development_dependencies
  gemfiles/Gemfile-rails-edge
  gemfiles/Gemfile-rails.6.0.x
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
  gemfiles/Gemfile-rails.8.0.x
Due: none

Update lockfile for json constraint
  Gemfile.lock
Due: none

Pin json below 3 for ActiveSupport compatibility (#1310)
  Gemfile.development_dependencies
  Gemfile.lock
  gemfiles/Gemfile-rails-edge
  gemfiles/Gemfile-rails.6.0.x
  gemfiles/Gemfile-rails.6.1.x
  gemfiles/Gemfile-rails.7.0.x
  gemfiles/Gemfile-rails.7.1.x
  gemfiles/Gemfile-rails.7.2.x
  gemfiles/Gemfile-rails.8.0.x
Due: none

Migrate Shakapacker to Shaka seam v1
  .agents/agent-workflow.yml
  .agents/shaka.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Format Shaka seam pointer
  .agents/shaka.md
Due: prettier-format, check-trailing-newlines

docs: clarify Shaka migration policy and setup
  .agents/shaka.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines

docs: clarify trusted tool and merge gates
  .agents/agent-workflow.yml
  .agents/shaka.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Clarify seam migration policy
  .agents/agent-workflow.yml
  .agents/shaka.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Add SRI hashes to Rspack manifest entrypoints
  CHANGELOG.md
  package/plugins/rspack.ts
  test/package/rspack/plugins.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Link PR in CHANGELOG
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add SRI hashes to Rspack manifest entrypoints (#1313)
  CHANGELOG.md
  package/plugins/rspack.ts
  test/package/rspack/plugins.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Share Shaka review settings across Claude and Codex
  .agents/agent-workflow.yml
  .agents/trusted-github-actors.yml
  AGENTS.md
Due: prettier-format, check-trailing-newlines

Clarify normalized metadata bot names
  .agents/trusted-github-actors.yml
Due: prettier-format, check-trailing-newlines

Preserve shared workflow coordination guidance
  .agents/shaka.md
  AGENTS.md
Due: prettier-format, check-trailing-newlines
