Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Revert gem version bump and drop stale Open Questions section
  Gemfile.lock
  docs/dependency-strategy.md
  lib/shakapacker/version.rb
  spec/dummy/Gemfile.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Wire publish-packages.sh into rake release; address review feedback
  docs/dependency-strategy.md
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  rakelib/release.rake
  scripts/publish-packages.sh
Due: prettier-format, check-trailing-newlines

Bump supplemental core dep on release; tighten lockstep + warning-codes tests
  docs/dependency-strategy.md
  rakelib/release.rake
  scripts/publish-packages.sh
  test/packages/shakapacker-webpack/index.test.js
  test/packages/warning-codes.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Update packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/index.js
Due: js-lint, check-trailing-newlines, jest-affected

RFC: Tighten dependencies for Shakapacker v11 (#1096)
  CHANGELOG.md
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
  package.json
  packages/shakapacker-rspack/LICENSE
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/index.js
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/LICENSE
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/index.js
  packages/shakapacker-webpack/package.json
  rakelib/release.rake
  scripts/publish-packages.sh
  test/packages/shakapacker-rspack/index.test.js
  test/packages/shakapacker-webpack/index.test.js
  test/packages/subpath-exports.test.js
  test/packages/warning-codes.test.js
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

[codex] Supersede #1084 rspack env merge (#1085)
  .github/workflows/test-bundlers.yml
  CHANGELOG.md
  package/rspack/index.ts
  spec/dummy/README.md
  spec/dummy/config/rspack/rspack.config.js
  spec/dummy/config/shakapacker-rspack.yml
  spec/dummy/config/shakapacker-webpack.yml
  test/package/rspack/index.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

[codex] Harden release task failure handling (#1111)
  rakelib/release.rake
  spec/rakelib/release_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Update spec/shakapacker/gemspec_spec.rb
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

[codex] Reduce packaged gem files (#1110)
  shakapacker.gemspec
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Update lib/shakapacker/version_checker.rb
  lib/shakapacker/version_checker.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Update spec/fixtures/single_dot_path_yarn.v1.lock
  spec/fixtures/single_dot_path_yarn.v1.lock
Due: none

[codex] Detect single-dot local shakapacker paths (#1106)
  lib/shakapacker/version_checker.rb
  spec/fixtures/single_dot_path_package.json
  spec/fixtures/single_dot_path_yarn.v1.lock
  spec/shakapacker/version_checker_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Sync stale .tool-versions and validate Node version in setup scripts
  bin/setup
  conductor-setup.sh
Due: none

Fix syntax error in gemspec_spec.rb from #1110
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Changed typo `ReactRefreshPlugin` to `ReactRefreshRspackPlugin` as part of the 2.0.0 upgrade from RsPack
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  package/environments/development.ts
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix syntax error in gemspec_spec.rb from #1110 (#1114)
  spec/shakapacker/gemspec_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Handle unreadable installed Rspack metadata
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-6 review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-7 review feedback
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Match doctor config path resolution to runner
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-3 review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-5 review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor review feedback
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address Rspack doctor round-8 review feedback
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Handle rspack doctor review edge cases
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address doctor cache review edge cases
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-2 review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor round-4 review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add doctor check for Rspack cache and compile-time doctor hint
  CHANGELOG.md
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address remaining rspack doctor review comments
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address Rspack doctor review comments
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Update lib/shakapacker/doctor.rb
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Tighten doctor review comments
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address setup script review feedback
  bin/lib/node-version-check.sh
  bin/setup
  conductor-setup.sh
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address Rspack doctor review feedback
  lib/shakapacker/compiler.rb
  lib/shakapacker/doctor.rb
  spec/shakapacker/compiler_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix rspack react refresh plugin export
  CHANGELOG.md
  docs/common-upgrades.md
  docs/rspack_migration_guide.md
  package/environments/development.ts
  test/package/environments/development-rspack-react-refresh.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Fix CI lint failures
  test/packages/warning-codes.test.js
  test/scripts/setup-scripts.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix duplicate intro paragraph in configuration.md
  docs/configuration.md
Due: prettier-format, check-trailing-newlines

Apply suggestions from code review
  docs/configuration.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines

Address installation guide review feedback
  README.md
  docs/configuration.md
  docs/installation.md
Due: prettier-format, check-trailing-newlines
