Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Merge PR #1120 into PR #1110 entry instead of dropping
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.1.0-rc.1
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Prefer merging RC-only fixes into the original PR entry
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Fix legacy JS binstub dispatch and NODE_ENV default in helper binstubs (#1123)
  bin/shakapacker-config
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/utils/misc.rb
  lib/tasks/shakapacker/export_bundler_config.rake
  package/bin/shakapacker-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/utils_misc_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Add CHANGELOG entries for #1127 binstub follow-up fixes
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update spec/dummy Gemfile.lock for shakapacker 10.1.0-rc.1
  spec/dummy/Gemfile.lock
Due: none

Update spec/dummy Gemfile.lock for shakapacker 10.1.0-rc.1 (#1130)
  spec/dummy/Gemfile.lock
Due: none

Fix shakapacker config helper binstubs
  bin/shakapacker-config
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/tasks/shakapacker/export_bundler_config.rake
  package/bin/shakapacker-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
  test/package/bin/shakapacker-config.test.js
  test/package/configExporter/cli.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Address PR review feedback for #1132
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Restructure supplemental package dependencies per issue #1131
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  test/packages/package-metadata.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Update docs and CHANGELOG for supplemental package restructure
  CHANGELOG.md
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-webpack/README.md
Due: prettier-format, check-trailing-newlines

Address PR #1133 review feedback
  CHANGELOG.md
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  test/packages/package-metadata.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address second-round PR review feedback for #1132
  lib/tasks/shakapacker/export_bundler_config.rake
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

CHANGELOG: merge PR #1120 into PR #1110 entry for v10.1.0-rc.1
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Surface v10.1 supplemental packages from README and key docs
  README.md
  docs/common-upgrades.md
  docs/installation.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Tighten binstub sync coverage and helper specs (#1123)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
  test/configExporter/createBinStub.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Replace `node --version` probe with a no-fork PATH walk (#1123)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
Due: js-lint, check-trailing-newlines, jest-affected

CHANGELOG: merge PR #1120 into PR #1110 entry for v10.1.0-rc.1 (#1126)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

docs: clarify supplemental install behavior for pnpm and yarn
  CHANGELOG.md
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
  packages/shakapacker-rspack/README.md
  packages/shakapacker-webpack/README.md
Due: prettier-format, check-trailing-newlines

docs(rspack): clarify manual install heading and include rspack-manifest-plugin
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Surface v10.1 supplemental packages from README and key docs (#1134)
  README.md
  docs/common-upgrades.md
  docs/installation.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/rspack.md
Due: prettier-format, check-trailing-newlines

Add opt-in install smoke test for shakapacker-webpack
  test/packages/install-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Document wrapper-import path for pnpm/Yarn PnP users
  docs/migration/v10.1-supplemental-packages.md
Due: prettier-format, check-trailing-newlines

[codex] Fix shakapacker config helper binstubs (#1132)
  bin/shakapacker-config
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/tasks/shakapacker/export_bundler_config.rake
  package/bin/shakapacker-config.cjs
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/export_bundler_config_task_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
  test/package/bin/shakapacker-config.test.js
  test/package/configExporter/cli.test.js
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Address PR #1133 review feedback (round 2)
  docs/migration/v10.1-supplemental-packages.md
  packages/shakapacker-webpack/README.md
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Harden supplemental package review tests
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add Shakapacker brand assets
  apple-touch-icon.png
  assets/brand/README.md
  assets/brand/icon-1024.png
  assets/brand/icon-128.png
  assets/brand/icon-16.png
  assets/brand/icon-256.png
  assets/brand/icon-32.png
  assets/brand/icon-512.png
  assets/brand/icon-64.png
  assets/brand/icon-tile.svg
  assets/brand/lockup-dark.svg
  assets/brand/lockup-light.png
  assets/brand/lockup-light.svg
  assets/brand/mark-transparent.svg
  assets/icon.png
  favicon.png
  favicon.svg
Due: prettier-format, check-trailing-newlines

Address PR #1133 review nits
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  test/packages/install-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address supplemental dependency review follow-ups
  docs/dependency-strategy.md
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Feature brand lockup in README
  README.md
Due: prettier-format, check-trailing-newlines

Address PR review: trailing newlines, whitespace, absolute README image URLs
  README.md
  assets/brand/icon-tile.svg
  assets/brand/lockup-dark.svg
  assets/brand/lockup-light.svg
  assets/brand/mark-transparent.svg
  favicon.svg
Due: prettier-format, check-trailing-newlines

Address remaining PR #1133 review threads
  docs/migration/v10.1-supplemental-packages.md
  test/packages/install-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address brand asset review feedback
  assets/brand/README.md
  assets/brand/icon-tile.svg
  assets/brand/lockup-dark.svg
  assets/brand/lockup-light.svg
  assets/brand/mark-transparent.svg
  favicon.svg
Due: prettier-format, check-trailing-newlines

Fix README logo display
  README.md
Due: prettier-format, check-trailing-newlines

Address supplemental package review comments
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  test/packages/install-smoke.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

[codex] Add Shakapacker brand assets (#1135)
  README.md
  apple-touch-icon.png
  assets/brand/README.md
  assets/brand/icon-1024.png
  assets/brand/icon-128.png
  assets/brand/icon-16.png
  assets/brand/icon-256.png
  assets/brand/icon-32.png
  assets/brand/icon-512.png
  assets/brand/icon-64.png
  assets/brand/icon-tile.svg
  assets/brand/lockup-dark.svg
  assets/brand/lockup-light.png
  assets/brand/lockup-light.svg
  assets/brand/mark-transparent.svg
  assets/icon.png
  favicon.png
  favicon.svg
Due: prettier-format, check-trailing-newlines

Address install smoke review feedback
  test/packages/install-smoke.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Restructure supplemental package dependencies (#1131) (#1133)
  CHANGELOG.md
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
  package.json
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/README.md
  packages/shakapacker-webpack/package.json
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Teach /update-changelog to drop RC-only regression fixes (#1125)
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG.md for v10.1.0-rc.2
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines
