Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Remove default CORS header from dev server config (#936)
  CHANGELOG.md
  CLAUDE.md
  docs/configuration.md
  lib/install/config/shakapacker.yml
  spec/dummy/config/shakapacker-rspack.yml
  spec/dummy/config/shakapacker-webpack.yml
Due: prettier-format, check-trailing-newlines

Fix ENOENT crash on clean builds with merge: true (#930) (#931)
  CHANGELOG.md
  package/plugins/webpack.ts
  package/utils/ensureManifestExists.ts
  test/package/utils/ensureManifestExists.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add SKIP mode for shakapacker installer conflicts
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address PR review comments: fix duplicate Fixed section and add sync comments
  CHANGELOG.md
  lib/install/binstubs.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address PR review comments: clarify truthy_env? sharing and add unit tests
  lib/install/binstubs.rb
  lib/install/template.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Rename force_option to conflict_option and document FORCE precedence
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Require explicit truthy values for SKIP and FORCE env vars
  lib/install/binstubs.rb
  lib/install/template.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add changelog entry for SKIP=true installer mode (#893)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add changelog entry for truthy env var check
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Require explicit truthy values for SKIP and FORCE env vars
  lib/install/binstubs.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Differentiate empty manifest vs missing manifest file
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Improve error message when manifest is empty
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Add RBS type signatures and changelog entry
  CHANGELOG.md
  sig/shakapacker/manifest.rbs
Due: prettier-format, check-trailing-newlines

Handle 0-byte manifest file without JSON parse error
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address review feedback: consistent heredoc style and reduce spec duplication
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address review feedback: fix TOCTOU race, rename method, fix test stubs
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address remaining review feedback
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Replace @manifest_existed ivar with LoadResult struct for atomicity
  lib/shakapacker/manifest.rb
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix TOCTOU race in handle_missing_entry and update RBS signatures
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address review feedback: remove unused default, fix changelog ordering
  CHANGELOG.md
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Address review feedback: preserve refresh return type, fix double read, use squiggly heredocs
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix binstubs.rb failing when run standalone via rake task
  lib/install/binstubs.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Restore missing changelog entries and remove stale LoadResult note
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Fix load_result returning Hash instead of LoadResult in non-cached path
  lib/shakapacker/manifest.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address PR review: use instance var for conflict_option, fix ENV cleanup
  README.md
  lib/install/binstubs.rb
  lib/install/template.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Skip Claude code review on fork PRs
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Skip Claude code review on fork PRs (#940)
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

fix: allow `compression-webpack-plugin` v12 (#937)
  CHANGELOG.md
  package.json
  spec/dummy/package-lock.json
  spec/dummy/package.json
Due: prettier-format, check-trailing-newlines

Ignore hidden entrypoint files and directories
  package/environments/base.ts
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden.js
  spec/shakapacker/test_app/app/javascript/entrypoints/.hidden_dir/hidden_nested.js
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address remaining PR review comments
  CHANGELOG.md
  lib/install/binstubs.rb
  lib/install/template.rb
  lib/shakapacker/install/env.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

docs: add changelog entry for hidden entrypoint fix
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Address latest inline review feedback
  CHANGELOG.md
  lib/install/binstubs.rb
  lib/shakapacker/install/env.rb
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Improve error message when manifest is empty (#872)
  CHANGELOG.md
  lib/shakapacker/manifest.rb
  sig/shakapacker/manifest.rbs
  spec/shakapacker/manifest_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Add swc+force guard test for installer env logic
  spec/shakapacker/install_env_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Improve test assertions and fix test isolation issues
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Add comprehensive Jest unit tests for rspack support
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/plugins.test.js
  test/package/rspack/rules.test.js
  test/resolver.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix EnvironmentPlugin test to match security-filtered implementation
  test/package/rspack/plugins.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Improve rspack test quality based on review feedback
  test/package/rspack/index.test.js
  test/package/rspack/optimization.test.js
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix raw file rule test to properly assert rule exists
  test/package/rspack/rules.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
