Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

lefthook.yml:

# Lefthook Configuration
# Parallel Git hooks for fast validation
# See: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    rubocop-lint:
      glob: "*.rb"
      run: bin/lefthook/rubocop-lint {staged_files}
    js-lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/js-lint {staged_files}
    prettier-format:
      glob: "*.{json,yml,yaml,md}"
      run: bin/lefthook/prettier-format {staged_files}
    check-trailing-newlines:
      glob: "*.{rb,js,jsx,ts,tsx,yml,yaml,json,md}"
      run: bin/lefthook/check-trailing-newlines {staged_files}
    rspec-affected:
      glob: "*.rb"
      run: bin/lefthook/rspec-affected {staged_files}
    jest-affected:
      glob: "*.{js,jsx,ts,tsx}"
      run: bin/lefthook/jest-affected {staged_files}

pre-push:
  parallel: true
  commands:
    rubocop-full:
      run: bundle exec rubocop
    rspec-full:
      run: bundle exec rspec
    js-lint-full:
      run: yarn lint
    jest-full:
      run: yarn test

Harden diff-bundler-config fallback and unblock pnpm installs
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  package.json
  yarn.lock
Due: prettier-format, check-trailing-newlines

Fix prettier formatting in base environment tests
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Tighten rspack v2 docs and mock consistency in tests
  docs/rspack.md
  test/package/bundlerUtils.rspack.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Remove yalc shakapacker dependency from dummy lockfiles
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Support webpack-subresource-integrity named export in webpack plugin
  package/plugins/webpack.ts
  test/package/plugins/webpackSubresourceIntegrity.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Use actions/checkout v4 in claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: prettier-format, check-trailing-newlines

Harden entry-shape assertion in base environment test
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Fix misleading arrayContaining assertion in base config test
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Pin dummy shakapacker dependency to exact 9.6.1
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Clarify rspack v2 support notes and strengthen bundler utils mock coverage
  docs/rspack.md
  test/package/bundlerUtils.rspack.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Harden diff-bundler-config execution and doctor binstub checks
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Polish sri plugin compatibility review follow-ups
  package/plugins/webpack.ts
  test/package/plugins/webpackSubresourceIntegrity.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Remove tautological entry-shape test assertion
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Harden npx fallback behavior for non-interactive CI
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
Due: none

Separate diff-result and runtime failure exit codes
  bin/diff-bundler-config
  docs/config-diff.md
  lib/install/bin/diff-bundler-config
Due: prettier-format, check-trailing-newlines

Add Claude rules directory and verify command
  .claude/commands/verify.md
  .claude/rules/coding-style.md
  .claude/rules/git-workflow.md
  .claude/rules/open-source.md
  .claude/rules/testing.md
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Improve release dry-run prompts and command preview
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Strengthen entry-shape test without looped expects
  test/package/environments/base.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Address follow-up review feedback on config diff binstub
  bin/diff-bundler-config
  lib/install/bin/diff-bundler-config
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Fix verify command webpack test path
  .claude/commands/verify.md
Due: prettier-format, check-trailing-newlines

Avoid network probe when previewing dry-run release command
  rakelib/release.rake
Due: none

Polish dry-run release command preview helper
  rakelib/release.rake
Due: none

Port update-changelog improvements from react_on_rails
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Address PR #982 review comments on update-changelog command
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Add rspack v2 support (#975)
  docs/rspack.md
  package.json
  test/package/bundlerUtils.rspack.test.js
  test/package/rspack/index.test.js
  yarn.lock
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Address remaining PR #982 review comments
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Add v9.7.0-rc.0 release notes to CHANGELOG
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Remove yalc artifact from spec/dummy lockfiles (#977)
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
Due: prettier-format, check-trailing-newlines

Address remaining PR #982 review comments on update-changelog
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Improve release-task dry-run UX and AUTO_CONFIRM docs (#981)
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Fix webpack-subresource-integrity v5 named export handling (#978)
  package/plugins/webpack.ts
  test/package/plugins/webpackSubresourceIntegrity.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Port update-changelog improvements from react_on_rails (#982)
  .claude/commands/update-changelog.md
Due: prettier-format, check-trailing-newlines

Address PR review comments on Claude rules
  .claude/commands/verify.md
  .claude/rules/testing.md
  CLAUDE.md
Due: prettier-format, check-trailing-newlines

Update CHANGELOG for v9.7.0 release
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Add v9.7.0 release notes to CHANGELOG (#985)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Disable Bundler's `rake release` to prevent bypassing release flow
  Rakefile
Due: none

Rename create_release to release and fix version.rb staging path
  .claude/commands/update-changelog.md
  Rakefile
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Rename create_release to release and fix version.rb staging path (#986)
  .claude/commands/update-changelog.md
  Rakefile
  docs/releasing.md
  rakelib/release.rake
Due: prettier-format, check-trailing-newlines

Release 9.7.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  spec/dummy/Gemfile.lock
  spec/dummy/yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected
