Repository shakacode/shakapacker: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

rubocop-lint:
  run: bin/lefthook/rubocop-lint {staged_files}

js-lint:
  run: bin/lefthook/js-lint {staged_files}

prettier-format:
  run: bin/lefthook/prettier-format {staged_files}

check-trailing-newlines:
  run: bin/lefthook/check-trailing-newlines {staged_files}

rspec-affected:
  run: bin/lefthook/rspec-affected {staged_files}

jest-affected:
  run: bin/lefthook/jest-affected {staged_files}

Clarify Rspack manual install command
  docs/rspack_migration_guide.md
Due: prettier-format, check-trailing-newlines

Address Rspack v2 review follow-ups
  CHANGELOG.md
  lib/install/template.rb
  lib/shakapacker/bundler_switcher.rb
  lib/shakapacker/doctor.rb
  package/environments/development.ts
  spec/shakapacker/doctor_spec.rb
  test/package/environments/development-rspack-react-refresh.test.js
  test/packages/package-metadata.test.js
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Update Rspack v2 dev-server defaults (#1179)
  CHANGELOG.md
  Rakefile
  docs/blog/2026-05-10-shakapacker-10-1-supplemental-packages.md
  docs/common-upgrades.md
  docs/dependency-strategy.md
  docs/installation.md
  docs/migration/v10.1-supplemental-packages.md
  docs/optional-peer-dependencies.md
  docs/peer-dependencies.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  lib/install/package.json
  lib/install/template.rb
  lib/shakapacker/bundler_switcher.rb
  lib/shakapacker/doctor.rb
  package.json
  package/environments/development.ts
  packages/shakapacker-rspack/README.md
  packages/shakapacker-rspack/package.json
  spec/dummy/README.md
  spec/dummy/package-lock.json
  spec/dummy/package.json
  spec/dummy/yarn.lock
  spec/shakapacker/bundler_switcher_spec.rb
  spec/shakapacker/dev_server_runner_spec.rb
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/optional_dependencies_spec.rb
  spec/shakapacker/rake_tasks_spec.rb
  test/package/environments/development-rspack-react-refresh.test.js
  test/package/rspack/index.test.js
  test/packages/install-smoke.test.js
  test/packages/package-metadata.test.js
  yarn.lock
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Use user-facing helper binstub comment
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

docs: add rspack migration workarounds
  docs/common-upgrades.md
  docs/config-diff.md
  docs/feature_testing.md
  docs/rspack.md
  docs/rspack_migration_guide.md
  docs/troubleshooting.md
Due: prettier-format, check-trailing-newlines

Clarify helper binstub regeneration
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Replace helper binstub sync note (#1183)
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  test/configExporter/createBinStub.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Harden React on Rails prompt detection
  package/configExporter/cli.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Gate AI prompt React on Rails context
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Clarify dependency strategy planning status
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
Due: prettier-format, check-trailing-newlines

Clarify dependency strategy planning status (#1188)
  docs/dependency-strategy.md
  docs/migration/v10.1-supplemental-packages.md
Due: prettier-format, check-trailing-newlines

Document multi-target SSR watch workflow
  docs/configuration.md
Due: prettier-format, check-trailing-newlines

Document multi-target SSR watch workflow (#1189)
  docs/configuration.md
Due: prettier-format, check-trailing-newlines

Bound React on Rails prompt detection
  package/configExporter/cli.ts
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Support Babel 8 peer ranges
  docs/customizing_babel_config.md
  docs/peer-dependencies.md
  package.json
  package/babel/preset.ts
  package/rules/babel.ts
  packages/shakapacker-webpack/package.json
  test/package/rules/babel.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add dummy install smoke coverage for supplementals
  .github/workflows/test-bundlers.yml
  docs/dependency-strategy.md
  spec/dummy/config/rspack/rspack.config.js
  spec/dummy/config/shakapacker-custom-build.yml
  spec/dummy/config/shakapacker_package.js
  spec/dummy/config/webpack/commonWebpackConfig.js
  spec/dummy/config/webpack/development.js
  spec/dummy/config/webpack/serverWebpackConfig.js
  spec/dummy/config/webpack/webpack.config.js
  spec/dummy/spec/helpers/custom_build_manifest_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Gate React on Rails AI prompt context (#1184)
  package/configExporter/aiPromptGenerator.ts
  package/configExporter/cli.ts
  test/package/configExporter/aiPromptGenerator.test.js
  test/package/configExporter/cli.test.js
Due: js-lint, check-trailing-newlines, jest-affected

Support Babel 8 peer ranges (#1187)
  docs/customizing_babel_config.md
  docs/peer-dependencies.md
  package.json
  package/babel/preset.ts
  package/rules/babel.ts
  packages/shakapacker-webpack/package.json
  test/package/rules/babel.test.js
Due: js-lint, prettier-format, check-trailing-newlines, jest-affected

Add supplemental dummy install smoke coverage (#1186)
  .github/workflows/test-bundlers.yml
  docs/dependency-strategy.md
  spec/dummy/config/rspack/rspack.config.js
  spec/dummy/config/shakapacker-custom-build.yml
  spec/dummy/config/shakapacker_package.js
  spec/dummy/config/webpack/commonWebpackConfig.js
  spec/dummy/config/webpack/development.js
  spec/dummy/config/webpack/serverWebpackConfig.js
  spec/dummy/config/webpack/webpack.config.js
  spec/dummy/spec/helpers/custom_build_manifest_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Support subdirectory tooling and hybrid doctor hints
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/doctor.rb
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Address doctor and helper review feedback
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/doctor.rb
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Fix doctor package-root dependency precedence
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Narrow hybrid SWC doctor skip
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

docs: clarify rspack wrapper peer deps
  docs/common-upgrades.md
  packages/shakapacker-rspack/README.md
Due: prettier-format, check-trailing-newlines

docs: clarify rspack wrapper peer deps (#1193)
  docs/common-upgrades.md
  packages/shakapacker-rspack/README.md
Due: prettier-format, check-trailing-newlines

Address final doctor review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address package-root doctor review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address final hybrid helper review feedback
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/doctor.rb
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Narrow inferred hybrid doctor skip
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Make inferred hybrid doctor check reachable
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Align optional peer doctor config fixture
  spec/shakapacker/doctor_optional_peer_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address hybrid doctor review feedback
  lib/shakapacker/doctor.rb
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, check-trailing-newlines, rspec-affected

Address final doctor review feedback
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/doctor.rb
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/doctor_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Add changelog entry for subdirectory tooling fixes
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Support subdirectory tooling and hybrid doctor hints (#1192)
  CHANGELOG.md
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  lib/shakapacker/doctor.rb
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/binstub_sync_spec.rb
  spec/shakapacker/doctor_optional_peer_spec.rb
  spec/shakapacker/doctor_spec.rb
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, prettier-format, check-trailing-newlines, rspec-affected, jest-affected

Update changelog for v10.2.0
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Update changelog for v10.2.0 (#1199)
  CHANGELOG.md
Due: prettier-format, check-trailing-newlines

Release 10.2.0
  Gemfile.lock
  lib/shakapacker/version.rb
  package.json
  packages/shakapacker-rspack/package.json
  packages/shakapacker-webpack/package.json
  spec/dummy/yarn.lock
Due: rubocop-lint, prettier-format, check-trailing-newlines, rspec-affected

Delegate helper binstub Node resolution to exec
  lib/install/bin/diff-bundler-config
  lib/install/bin/shakapacker-config
  package/configExporter/cli.ts
  spec/dummy/bin/shakapacker-config
  spec/shakapacker/helper_binstubs_spec.rb
Due: rubocop-lint, js-lint, check-trailing-newlines, rspec-affected, jest-affected

Path conditions:
  rubocop-lint: any of: *.rb
  js-lint: any of: *.{js,jsx,ts,tsx}
  prettier-format: any of: *.{json,yml,yaml,md}
  check-trailing-newlines: any of: *.{rb,js,jsx,ts,tsx,yml,yaml,json,md}
  rspec-affected: any of: *.rb
  jest-affected: any of: *.{js,jsx,ts,tsx}
